.modelView-wrapper{
    position: relative;
    width: 100%;
    height:100%;
    .modelView{
        .modelView-loading-process{
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%, -50%);
            z-index: 999;
            padding: 30px 40px 10px 40px;
            text-align: center;
            .ant-spin-dot {
                font-size: 45px;
                .ant-spin-dot-item {
                    opacity: 0.35;
                }
            }
            .ant-spin.ant-spin-show-text .ant-spin-text {
                margin: 15px;
            }
        }
    }
    .slide-top{
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -200px);
        width: 330px;
        height: auto;
    }
    .side-left{
        margin-left: 15px;
        .left-layer{
            position: absolute;
            top: 21%;
            width: 45px;
            background: #fff;
            .left-layer-list {
                display: inline-block;
                width: 40px;
                padding: 5px;
                opacity: 0.8;
            }
        }
    }
    .side-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 340px;
        background: hsla(0,0%,100%,.95);
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
    }
    .side-rightBox{
        background: hsla(0,0%,100%,.95);
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
    }
    .side-rightCenter{
        position: absolute;
        right: 10px;
        top: 316px;
        width: 40px;
    }

    .react-contextmenu.react-contextmenu--visible{
        .react-contextmenu-item {
            height: 34px;
            line-height: 34px;
            font-size: 14px;
            color: #fff;
            letter-spacing: 0;
            padding: 0 15px 0 15px;
            cursor: pointer;
            white-space: nowrap;
            background: rgba(0,0,0,.6);
        }
        .react-contextmenu-item:hover {
            background:#3d81fa;
        }
        .react-contextmenu-submenu>.react-contextmenu-item {
            padding: 0;
        }
        .react-contextmenu-item.react-contextmenu-submenu:hover {
            background:#3d81fa;
        }
    }
}

.gray-border{
    border-radius: 4px;
    border: 1px solid #999;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .modelView-wrapper{
        .modelView{
            .modelView-loading-process{
                .ant-progress-inner{
                    width: 90px !important;
                    height: 90px !important;
                }
            }
        }
        .react-contextmenu.react-contextmenu--visible{
            display: none;
            .react-contextmenu-item {
                display: none;
            }
        }
    }
   
}