.ant-spin-nested-loading{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
// .ant-spin-nested-loading > div > .dev-spin {
//     max-height: 600px;
// }
.applicationInfo{
    width: 100%;
    height: 100%;
    overflow: auto;
    .appInfo-item{
        padding: 20px 30px 30px;
        background-color: #fff;
        border-radius: 4px;
        margin-bottom: 20px;
        .appInfo-item-title{
            font-size: 16px;
            font-weight: 500;
            color: #000;
            line-height: 24px;
            margin-bottom: 20px;
        }
        .appInfo-item-content{
            .tip-wrapper{
                font-size: 14px;
                color: rgba(0, 0, 0, 0.65);
                padding: 10px 16px;
                margin-bottom: 20px;
                background: #FFFBE6;
                border: 1px solid #FFE58F;
                .main-word{
                    font-weight: 400;
                    color: #262522;
                    margin-right: 16px;
                }
                .close-btn{
                    cursor: pointer;
                }
            }
            .appKey{
                width: 100%;
                .appKey-content{
                    width: 100%;
                    .keyTab-item{
                        width: 32%;
                        height: 146px;
                        background: rgba(61, 129, 250, 0.08);
                        padding: 40px 0;
                        border-radius: 2px;
                        text-align: center;
                        font-weight: 400;
                        position: relative;
                        .item-key{
                           color: rgba(0, 0, 0, 0.65);
                           font-size: 14px;
                           line-height: 1.5;
                        }
                        .item-value,.show-text{
                           font-size: 18px;
                           line-height: 2;
                           color: rgba(0, 0, 0, 0.85);
                        }
                        .secret-value{
                            max-width: 320px;
                            font-size: 15px;
                            line-height: 1.5;
                            margin: 0 auto;
                            word-wrap:break-word;
                            overflow:hidden;
                            word-break:break-all;
                        }
                        .show-text{
                            font-size: 18px;
                            line-height: 2;
                            color: rgba(0, 0, 0, 0.85);
                         }
                        .item-button{
                            position: absolute;
                            left: 0;
                            bottom:0;
                            width: 100%;
                            .oper-btn{
                                width: 48%;
                                padding: 6px 0;
                                border-radius: 2px;
                                box-sizing: border-box;
                                cursor: pointer;
                            }
                            .show-btn{
                                color:#3D81FA;
                                border: 1px solid #3D81FA;
                            }
                            .reset-btn{
                                color:#fff;
                                background: #3D81FA;
                                border: 1px solid #3D81FA;
                            }
                        }
                    }

                }
            }
            .detailInfo{
                width: 100%;
                .detail-item{
                    width: 24%;
                    padding-right: 16px;
                    border-right: 1px solid #E8E8E8;
                   
                    .detail-label{
                        display: inline-block;
                        margin-bottom: 20px;
                        color: rgba(0, 0, 0, 0.65);
                    }
                    .detail-opreate{
                        .detail-progress{
                            width: 120px;
                        }
                        .detail-name{
                            font-size: 18px;
                            color: rgba(0, 0, 0, 0.85);
                        }
                        .sizeShow{
                            max-width: 150px;
                            font-size: 13px;
                        }

                    }
                }
                .detail-item:last-child{
                    border-right: none;
                }
            }
            .authorized{
                width: 100%;
                .authorized-content{
                    width: 100%;
                    .authorized-item{
                        width: 32%;
                        padding: 20px 30px;
                        border-radius: 2px;
                        font-weight: 400;
                        color: rgba(0, 0, 0, 0.85);
                        border: 1px solid rgba(61, 129, 250, 0.25);
                        margin-right: 5%;
                        .item-header{
                            margin-bottom: 12px;
                            img{
                                display: inline-block;
                                vertical-align: middle;
                                height: 38px;
                                margin-right: 20px;
                            }
                            .item-header-title{
                                display: inline-block;
                                font-size: 18px;
                            }

                        }
                        ul.item-content{
                            li{
                                padding: 10px 0;
                                font-size: 14px;
                                border-bottom: 1px dashed #E8E8E8;
                                .item-value{
                                    display: inline-block;
                                    max-width: 65%;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                }
                            }

                        }
                    }

                }
            }
        }
        &:last-child{
            margin-bottom: 0;
        }

    }
}
.improve-wrapper{
    .improve-content{
        .input-item{
            margin-bottom: 12px;
            font-size: 14px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.85);
            .ant-input{
                width: 300px;
            }
            .red{ color: #FF3138;}
            
        }

    }
    
}