.drawingView-wrapper{
    position: relative;
    width: 100%;
    height:100%;
    .drawingView{
        .modelView-loading-process{
            position: absolute;
            left:50%;
            top:50%;
            width:10%;
            height:10%;
            transform: translate(-50%, -50%);
            z-index: 98;
        }
    }
    .side-rightBox{
        position: absolute;
        bottom: 15px;
        right: 10px;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    }
   
}

@media (max-width: 768px) {
    .drawingView-wrapper{
        .drawingView{
            .modelView-loading-process{
                .ant-progress-inner{
                    width: 90px !important;
                    height: 90px !important;
                }
            }
        }
    }
   
}


