 .example{
  width: 100%;
  background: #fff;
  h2.con-title{
    margin-top: 88px;
  }
  p.con-caption{
    max-width: 450px;
    margin: 24px auto 30px auto;
    text-align: center;
  }
  .example-list {
    width: 1200px;
    margin: 64px auto 24px auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &:after {
      content: "";
      width: 284px;
    }
    li.example-item{
      position: relative;
      width: 284px;
      height: 347px;
      padding: 24px;
      background-color: #fff;
      margin-bottom: 24px;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06);
      border: 1px solid #E1E6F0;
      &:hover{
        transform: translateY(-8px);
        transition: all .4s ease-in-out .2s;
        box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);
      }
      .example-name{
        display: inline-block;
        max-width: 200px;
        font-size: 18px;
        font-weight: 500;
        color: #252B3A;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .example-type{
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        padding: 3px;
        border-radius: 2px;
        border: 1px solid;
      }
      .S_RVT{
        color: #3D81FA;
        background: #E6F7FF;
        border-color: #91D5FF;
      }
      .S_SKP,.S_Tekla{
        color: #13C2C2;
        background: #E6FFFB;
        border-color: #87E8DE;

      }
      .S_IFC{
        color: #13C2C2;
        background: #E6FFFB;
        border-color: #87E8DE;

      }
      .S_3DM{
        color: #52C41A;
        background: #F6FFED;
        border-color: #B7EB8F;

      }
      .S_DWG{
        color: #FF4D4F;
        background: #FFF1F0;
        border-color: #FFA39E;

      }
      .example-desc{
        display: inline-block;
        margin-top: 5px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.45);
      }
      .example-img {
        display: inline-block;
        width: 236px;
        height: 228px;
        margin-top: 24px;
      }
      
    }
  }
  .example-bottom{
    .upload-btn{
      width: 200px;
      height: 56px;
      font-size: 22px;
      font-weight: 500;
      line-height: 33px;
      margin-bottom: 96px;
    }
  }
}
@media (max-width: 768px) {
  .example{
    h2.con-title{
      margin-top: 32px;
    }
    p.con-caption{
      max-width: 100%;
      margin: 18px auto 24px auto;
      padding: 0 24px;
      text-align: justify;
    }

    .example-list {
      width: 100%;
      padding: 30px 24px;
      margin: 0;
      justify-content: center;
      &:after {
        content: "";
        width: 100%;
      }
      
      li.example-item{
        position: relative;
        width: 100%;
        margin-bottom: 30px;
        .example-img {
          width: 100%;
        }
        .example-name{
          font-size: 16px;
          font-weight: 400;
        }
        .example-type{
          font-size: 14px;
          font-weight: 400;
        }
        .example-desc{
          font-size: 14px;
          font-weight: 400;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .example-bottom{
      .upload-btn{
        width: 146px;
        height: 46px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin-top: 18px;
        margin-bottom: 30px;
      }
    }
  }
}
 
 