.versionCompare{
  .versionCompare-content{
    position: absolute;
    width: 100%;
    height: 100%;
    .layout-split{
      position: absolute;
      top: 60px;
      left: 0;
      width: calc((100% - 340px)/2);
      height: calc(100vh - 60px);
    }
    .layout-normal{
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height:calc(100vh - 60px);
    }
  }
  .versionLayout{
    .model-center{
      position: absolute;
      top: 60px;
      right: 340px;
      width: calc((100% - 340px)/2);
      height: 100%;
      .container-2D{
          width: 100%;
          height: 100%; 
      }
    }
  }
  .versionSetModel{
    .setModelContent{
      .setItem{
        margin-bottom: 15px;
        font-size: 14px;
      }
    }
  }
  .versionDrawer{
    // position: absolute;
    // top: 60px;
    // width: 340px;
    // height: calc(100vh - 60px);
    .versionResult{
      .ant-drawer{
        .ant-drawer-content {
            padding-top: 60px;
            .ant-drawer-body{
              padding: 0;
            }
            .ant-collapse {
              border: none;
              .ant-collapse-content-box {
                padding-bottom: 0;
              }
              .ant-collapse-item > .ant-collapse-header{
                padding-left: 30px;
                .result-header{
                  .result-show{
                      .result-color{
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin: 0 4px;
                      }
                      .add{
                        background-color: rgb(241, 155, 37);
                      }
                      .delete{
                        background-color: rgb(255,0,0);
                      }
                      .modify{
                        background-color: rgb(4, 165, 253);
                      }
                  }
                  
                }
              } 
             .ant-collapse-item:last-child{
               border-bottom: none;
               .ant-collapse-content{
                .ant-collapse-content-box {
                  height: 560px;
                  overflow: hidden;
                  >div{
                    padding: 0 0 6px 10px;
                  }
                  >ul{
                    height: 100%;
                    overflow-y: auto;
                    // margin-bottom: 10px;
                  }
                }
               }
             }
            }
        }
      }
      .parmShow{
        padding: 6px 10px;
        &:hover{
          cursor: pointer;
          color: #3D81FA;
          background: rgba(61, 129, 250, 0.04);
        }
        .parmValue{
          margin-right: 10px;
          max-width: 260px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

    }
  }
  
  .versionDetailModel{
    .ant-modal-body {
      height: 500px;
      overflow: hidden;
    }
    .ant-collapse {
      overflow-y: auto;
      border: none;
      .ant-collapse-item > .ant-collapse-header {
        background: rgba(61, 129, 250, 0.04);
      }
    }
    
  }
  .show{
    display: block;
  }
  .hide{
    display: none;
  }
}



