.console{
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    background: #EEF0F5;
    top: 60px;
    overflow: hidden;
    .dev-side{
        position: absolute;
        width: 184px;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        background-color: #202733;
    }
    .dev-contain{
        position: absolute;
        min-width: 716px;
        left: 184px;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        margin: 24px;
    }
}
