 .contact-us {
    .contact-title{
      padding: 88px 0 56px 0;
    }
    .contact-ways {
      .way-session {
        // padding: 40px 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &:after {
          content: "";
          width: 344px;
        }
        .item {
          width:344px;
          padding-left: 36px;
          padding-top: 32px;
          height: 216px;
          margin-bottom: 24px;
          border-radius: 4px;
          border: 1px solid #E1E6F0;
          .title {
            color:#2B2B2B;
            font-size: 20px;
            margin-bottom: 20px;
            img{
              display: inline-block;
              vertical-align: middle;
              width: 24px;
              height: 24px;
              margin-left: 15px;
              margin-bottom: 3px;
            }
          }
          .name,.phone,.sign,.address {
            color: #353A59;
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 12px;
          }
          .address {
            width: 240px;
            line-height: 28px;
          }
        }
      }
    }
    .contact-develop{
      background: #F8FAFD;
      padding-bottom: 88px;
      .develop-service{
        display: flex;
        justify-items: center;
        align-items: flex-start;
        img{
          display: inline-block;
          height: 374px;
        }
        .dev-expains{
          margin-left: 38px;
          .dev-title{
            font-size: 18px;
            font-weight: 600;
            color: #252B3A;
            margin-bottom: 24px;
          }
          .dev-text{
            display: flex;
            justify-items: center;
            align-items: flex-start;
            margin-bottom: 24px;
            span{
              display: inline-block;
              font-size: 14px;
              font-weight: 500;
              color: #252B3A;
              line-height: 22px;
            }
            img{
              display: inline-block;
              width: 16px;
              height: 16px;
              margin: 2px 8px 0 0;
            }
          }
        }
      }
    }
    .company-address {
      text-align: center;
      position: relative;
      padding-bottom: 40px;
      .map-card {
        position: absolute;
        z-index: 2;
        top: 250px;
        right: 280px;
        width: 310px;
        height: 106px;
        background: #FFFFFF;
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
        .p {
          position: relative;
          padding: 24px;
          color: #252B3A;
          font-size: 14px;
          line-height: 26px;
          text-align: left;
          margin: 0;
        }
      }
      .address-map {
        margin: 0 auto;
        width: 1200px;
        height: 506px;
      }
    }
 }
  @media (max-width: 768px) {
    .contact-us {
      .contact-title{
        padding: 32px 0 16px 0;
      }
      .contact-ways {
        .way-session {
          padding:0 0 24px 24px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .item {
            border: 1px solid #E1E6F0;
            @media (max-width: 690px) {
              width: 280px;
            }
            @media (max-width: 572px) {
              width: 100%;
            }
            float: left;
            width: 300px;
            padding-left: 36px;
            padding-top: 32px;
            height: 216px;
            box-sizing: border-box;
            margin-bottom: 24px;
            margin-right: 24px;
            .title {
              font-size: 18px;
              margin-bottom: 15px;
              img{
                width: 18px;
                height: 18px;
                margin-left: 10px;
                margin-bottom: 3px;
              }
            }
            .name,.phone,.sign,.address {
              font-size: 14px;
              line-height: 20px;
              margin-bottom: 12px;
            }
            .address {
              width: 240px;
              line-height: 20px;
              font-size: 13px;
            }
          }
        }
      }
      .contact-develop{
        background: #F8FAFD;
        padding-bottom: 32px;
        .develop-service{
          display: flex;
          flex-direction: column;
          padding: 0 24px;
          img{
            display: inline-block;
            width: 100%;
            height: auto;
          }
          .dev-expains{
            margin-left: 0;
            margin-top: 30px;
            .dev-title{
              font-size: 16px;
              font-weight: 500;
              color: #252B3A;
              margin-bottom: 24px;
            }
            .dev-text{
              display: flex;
              justify-items: center;
              align-items: flex-start;
              margin-bottom: 16px;
              span{
                display: inline-block;
                font-size: 14px;
                font-weight: 400;
                color: #252B3A;
                line-height: 20px;
              }
              img{
                display: inline-block;
                width: 15px;
                height: 15px;
                margin: 2px 8px 0 0;
              }
            }
          }
        }
      }
      .company-address {
        text-align: center;
        position: relative;
        padding-bottom: 0;
        .map-card {
          position: absolute;
          z-index: 2;
          top: 180px;
          left: 50%;
          margin-left: -140px;
          width: 280px;
          height: 76px;
          border-radius: 4px;
          box-shadow: 0 0 16px 0 rgba(0,0,0,0.1);
          .p {
            position: relative;
            padding: 16px;
            color: #252B3A;
            font-size: 14px;
            line-height: 22px;
            text-align: left;
            margin: 0;
          }
        }
        .address-map {
          margin: 0 auto;
          width: 100%;
          height: 420px;
        }
      }
    }
  }
   
   