.contact-us .contact-title {
  padding: 88px 0 56px 0;
}
.contact-us .contact-ways .way-session {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-us .contact-ways .way-session:after {
  content: "";
  width: 344px;
}
.contact-us .contact-ways .way-session .item {
  width: 344px;
  padding-left: 36px;
  padding-top: 32px;
  height: 216px;
  margin-bottom: 24px;
  border-radius: 4px;
  border: 1px solid #E1E6F0;
}
.contact-us .contact-ways .way-session .item .title {
  color: #2B2B2B;
  font-size: 20px;
  margin-bottom: 20px;
}
.contact-us .contact-ways .way-session .item .title img {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-left: 15px;
  margin-bottom: 3px;
}
.contact-us .contact-ways .way-session .item .name,
.contact-us .contact-ways .way-session .item .phone,
.contact-us .contact-ways .way-session .item .sign,
.contact-us .contact-ways .way-session .item .address {
  color: #353A59;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 12px;
}
.contact-us .contact-ways .way-session .item .address {
  width: 240px;
  line-height: 28px;
}
.contact-us .contact-develop {
  background: #F8FAFD;
  padding-bottom: 88px;
}
.contact-us .contact-develop .develop-service {
  display: flex;
  justify-items: center;
  align-items: flex-start;
}
.contact-us .contact-develop .develop-service img {
  display: inline-block;
  height: 374px;
}
.contact-us .contact-develop .develop-service .dev-expains {
  margin-left: 38px;
}
.contact-us .contact-develop .develop-service .dev-expains .dev-title {
  font-size: 18px;
  font-weight: 600;
  color: #252B3A;
  margin-bottom: 24px;
}
.contact-us .contact-develop .develop-service .dev-expains .dev-text {
  display: flex;
  justify-items: center;
  align-items: flex-start;
  margin-bottom: 24px;
}
.contact-us .contact-develop .develop-service .dev-expains .dev-text span {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #252B3A;
  line-height: 22px;
}
.contact-us .contact-develop .develop-service .dev-expains .dev-text img {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 2px 8px 0 0;
}
.contact-us .company-address {
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}
.contact-us .company-address .map-card {
  position: absolute;
  z-index: 2;
  top: 250px;
  right: 280px;
  width: 310px;
  height: 106px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
}
.contact-us .company-address .map-card .p {
  position: relative;
  padding: 24px;
  color: #252B3A;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  margin: 0;
}
.contact-us .company-address .address-map {
  margin: 0 auto;
  width: 1200px;
  height: 506px;
}
@media (max-width: 768px) {
  .contact-us .contact-title {
    padding: 32px 0 16px 0;
  }
  .contact-us .contact-ways .way-session {
    padding: 0 0 24px 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact-us .contact-ways .way-session .item {
    border: 1px solid #E1E6F0;
    float: left;
    width: 300px;
    padding-left: 36px;
    padding-top: 32px;
    height: 216px;
    box-sizing: border-box;
    margin-bottom: 24px;
    margin-right: 24px;
  }
  .contact-us .contact-ways .way-session .item .title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .contact-us .contact-ways .way-session .item .title img {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-bottom: 3px;
  }
  .contact-us .contact-ways .way-session .item .name,
  .contact-us .contact-ways .way-session .item .phone,
  .contact-us .contact-ways .way-session .item .sign,
  .contact-us .contact-ways .way-session .item .address {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
  }
  .contact-us .contact-ways .way-session .item .address {
    width: 240px;
    line-height: 20px;
    font-size: 13px;
  }
  .contact-us .contact-develop {
    background: #F8FAFD;
    padding-bottom: 32px;
  }
  .contact-us .contact-develop .develop-service {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
  }
  .contact-us .contact-develop .develop-service img {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .contact-us .contact-develop .develop-service .dev-expains {
    margin-left: 0;
    margin-top: 30px;
  }
  .contact-us .contact-develop .develop-service .dev-expains .dev-title {
    font-size: 16px;
    font-weight: 500;
    color: #252B3A;
    margin-bottom: 24px;
  }
  .contact-us .contact-develop .develop-service .dev-expains .dev-text {
    display: flex;
    justify-items: center;
    align-items: flex-start;
    margin-bottom: 16px;
  }
  .contact-us .contact-develop .develop-service .dev-expains .dev-text span {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: #252B3A;
    line-height: 20px;
  }
  .contact-us .contact-develop .develop-service .dev-expains .dev-text img {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 2px 8px 0 0;
  }
  .contact-us .company-address {
    text-align: center;
    position: relative;
    padding-bottom: 0;
  }
  .contact-us .company-address .map-card {
    position: absolute;
    z-index: 2;
    top: 180px;
    left: 50%;
    margin-left: -140px;
    width: 280px;
    height: 76px;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  }
  .contact-us .company-address .map-card .p {
    position: relative;
    padding: 16px;
    color: #252B3A;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    margin: 0;
  }
  .contact-us .company-address .address-map {
    margin: 0 auto;
    width: 100%;
    height: 420px;
  }
}
@media (max-width: 768px) and (max-width: 690px) {
  .contact-us .contact-ways .way-session .item {
    width: 280px;
  }
}
@media (max-width: 768px) and (max-width: 572px) {
  .contact-us .contact-ways .way-session .item {
    width: 100%;
  }
}
