.bimDrawing{
    position: relative;
    width: 100%;
    height:100%;
    .bimDrawing-content{
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;
        height:calc(100vh - 60px);

    }
}