//提示信息
.tipShow-wrapper{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    padding: 10px 16px;
    background: rgba(61, 129, 250, 0.1);
    border: 1px solid rgba(61, 129, 250, 0.65);
    .tip-icon{
        display: inline-block;
        height: 16px;
        margin-right: 6px;
    }
    .main-word{
        margin-right: 20px;
    }
    .close-btn{
        cursor: pointer;
    }
}

//上传 modal
.upload-table {
    position: absolute;
    z-index: 100;
    right: 0;
    width: 630px;
    // height: 430px;
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    box-shadow: 0 0 10px 0 rgba(153, 153, 153, 0.50);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .upload-table-header {
      color: #333333;
      height: 45px;
      line-height: 45px;
    }
    .upload-table-title {
      margin-left: 20px;
    }
    .upload-table-close {
      margin-right: 20px;
      float: right;
      font-size: 16px;
      font-weight: bold;
    }
    .upload-table-close-icon{
      margin-right: 10px;

    }
    .upload-tip{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #3D81FA;
      color: #fff;
      padding: 8px 15px;
      span{
        display: inline-block;
        font-size: 12px;
        font-family: PingFang-SC-Medium, PingFang-SC;
        font-weight: 500;
      }
    }
    .upload-main {
      width: 628px;
      height: 383px;
      overflow-y: auto;
      overflow-x: hidden;
      .ant-table-thead {
        th {
          font-size: 14px;
          color:  #3D81FA;
          letter-spacing: 0;
        }
      }
    }
    .upload-table-header {
      .action {
        color: #333;
        margin-right: 5px;
        font-weight: bold;
      }
    }

}
.enter {
  bottom: 0;
  transition: bottom 0.4s linear;
}
.leave {
  bottom: -363px;
  transition: bottom 0.4s linear;
}

//历史模型 modal
.history-table{
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  .history-main {
    // width: 628px;
    max-height: 582px;
    overflow-y: auto;
    overflow-x: hidden;
    .ant-table-thead {
      th {
        font-size: 14px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
        letter-spacing: 0;
        background: #F0F5FF;
      }
    }
    .ant-table-placeholder {
      border-top: none;
      border-bottom: none;
    }
    .record-version{
      background: #E6FFFB;
      border-radius: 4px;
      border: 1px solid #87E8DE;
      .version{
          font-size: 12px;
          font-weight: 400;
          color: #13C2C2;
          padding: 5px 10px;
      }
    }
    .opreate{
      span{
          display: inline-block;
          color: #3D81FA;
          padding: 0 8px;
          font-size: 14px;
          cursor: pointer;
      }
      .preview,.download{
          border-right: 1px solid #D8D8D8;
      }
    }
    .status-canuse{
      color: #52C41A;
   }
   .status-waiting{
      color: rgba(0, 0, 0, 0.65);
   }
   .status-error{
       color:#F5222D;
       .reflash{
           margin-left: 8px;
           color:#F5222D;
           cursor: pointer;
       }
   }
   .status-transfrom{
       color: #3D81FA;
       .loading{
           margin-left: 8px;
           color: #3D81FA;
       }
   }
  }
}

//分享 modal
.share-wrapper{
  .ant-modal-header{
    border-bottom: none;
    background: #20273E;
  }
  .ant-modal-close {
    color: #fff;
  }
  .ant-modal-body {
    padding: 0;
  }
  .ant-modal-footer{
    padding: 6px 24px 30px;
    border-top: none;
  }

}
.share-content{
  border-radius: 4px 4px 0px 0px;
  height: 428px;
  .share-header{
    width: 100%;
    height: 168px;
    background: #20273E;
  }
  .share-center{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -140px;
    .QR-code{
      padding: 30px;
      margin: 15px;
      background-color: #FFF;
      box-shadow: 0px 1px 3px 0px rgba(61, 129, 250, 0.35);
      img{
        display: inline-block;
        margin-left: 5px;
        width: 40px;
        height: 40px;
      }
    }
    .share-expain{
      width: 40%;
      margin-top: 15px;
      text-align: center;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.85);
      line-height: 22px;
    }

  }
  .share-bottom{
    padding: 0 24px;
    .share-con-label{
      margin-top: 20px;
    }
    .share-con-text{
      display: inline-block;
      width: 120px;
    }
    .ant-radio-wrapper {
      margin-right: 12px;
    }
  }
}