.banner-wrapper{
  width: 100%;
  background: linear-gradient(119deg, #06112A 0%, #01050F 100%);
  .banner-content{
     height: 450px;
     display: flex;
     flex-direction:row-reverse;
     justify-content: space-between;
     align-items: center;
      .right-session {
        .imgshowH5 {
          display: none;
        }
        .imgshow {
          display: inline-block;
          width: 500px;
          height: 100%;
          margin-right: 100px;
        }
      }
      .left-session {
        width: 618px;
        color: #FFF;
        .title {
          color: #FFF;
          font-size: 56px;
          font-weight: 500;
          margin-bottom: 24px;
        }
        .describe {
            max-width: 750px;
            li{
              color: #FFF;
              font-size: 26px;
              line-height: 40px;
              font-weight: 400;
              margin-top: 18px;
            }
          }
        }
  }
}

@media (max-width: 768px) {
  .banner-wrapper{
    width: 100%;
    .banner-content { 
      height: auto;
      flex-direction:column;
      justify-content: space-between;
      align-items: center;
      padding:0 24px;
      .right-session {
        width: 100%;
        height: auto;
        margin: 0 auto;
        .imgshow {
          display: none;
        }
        .imgshowH5 {
          display: inline-block;
          max-width: 100%;
          height: auto;
          margin: 0 auto;
        }
      }
      .left-session {
        width: 100%;
        padding-bottom: 22px;
        .title {
          // text-align: center;
          font-size: 32px;
          margin: 20px auto;
          line-height: 36px;
        }
        .describe {
          li{
              width: 100%;
              line-height: 28px;
              font-size: 16px;
              // text-align: center;
          }
        }
      }
    }
  }
}