.modelMeasure {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    z-index: 99;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    .sel-header{
        padding: 10px 15px;
        color: #262626;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .sel-content{
        .sel-btns{
            padding: 0px 12px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            .option-img{
                display: inline-block;
                width: 28px;
                height: 28px;
                color: #000000A6;
                cursor: pointer;
                i{
                    font-size: 28px;
                    height: 28px;
                    &:hover{
                        color:#3D81FA;
                    }
                } 
            }
            .btn-selected{
                color:#3D81FA;
                //background: rgba(61,129,250,.1)!important;
            }
        }
        .sel-item{
            margin: 15px;
            margin-bottom: 8px;
            .item-box{
                margin-bottom: 7px;
                span{
                    display: inline-block;
                    font-size: 13px;
                }
            }
            .red{
                color:#FF4D4F;
            }
            .green{
                color: #52C41A;
            }
            .blue{
                color: #3D81FA;
            }
        }
        .measureWrapper{
            .setting-item{
                margin: 15px;
                span{
                    display: inline-block;
                    font-size: 13px;
                }
            }
        }
    } 
    .sel-bottom{
        position: absolute;
        width: 200px;
        left: 0;
        bottom: 0;
        padding: 2px 10px 2px 15px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
            span{ display: inline-block;}
            .option-text{
                font-size: 12px;
                height: 28px;
                line-height: 28px;
                color:#3D81FA;
                cursor: pointer;
            }
            .gray{
                color:#333;
            }
            .option-img{
                display: inline-block;
                width: 28px;
                height: 28px;
                color: #000000A6;
                cursor: pointer;
                i{
                    font-size: 28px;
                    height: 28px;
                    &:hover{
                        color:#3D81FA;
                    }
                } 
            }
        
    }
}
