.side {
    position: relative;
    height: 100%;
    .ant-menu {
      background:#202733 !important;
      span {
        font-size: 14px;
      }
    }
    .ant-menu-item {
      font-size: 14px;
    }
    .ant-menu-submenu-title {
      margin-top: 0px;
    }
    
    .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
      background: #27304A;
      opacity: 0.68;
    }
    .ant-menu-item-selected{
      border-left: 2px solid #3d81fa;
      box-sizing: border-box;
    }
    .ant-menu-sub {
      box-shadow: 0 0 0 !important;
    }
    .side-img {
      width: 14px;
      height: 14px;
      margin-right: 5px;
      margin-top: -3px;
    }
  }
  