.attributeTabWrapper{
    position: fixed;
    top: 0;
    right: 0;
    background: hsla(0,0%,100%,.95);
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
    .ant-drawer{
        .ant-drawer-body {
            padding:0;
        }
            
        .ant-drawer-content {
            padding-top: 60px;
        }
    } 
    .attributeTab{
        width: 340px;
        .attributeTab-container  {
            font-size: 14px;
            overflow-y: auto;
            .ant-tabs{
                height:100%;
            }
            .ant-tabs-bar {
                margin-bottom: 0;
            }
           .ant-tabs-nav .ant-tabs-tab {
               color: #333;
           }
            .ant-tabs >.ant-tabs-content {
                height: calc(100% - 25px);
                max-height: none;
                background: #fff;
            }
            .ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane, .ant-tabs .ant-tabs-bottom-content > .ant-tabs-tabpane {
                color: #333;
            }
            .noData{
                height: 380px;
                p{
                    line-height:250px;
                    font-family: 400;
                    text-align: center;
                }
            }
            .list-top-item {
                color: #333;
                background:#fff;
                padding: 12px 10px 12px 35px;
                border-bottom: 1px solid #eee;
            }
            .group-context{
                .ant-collapse {
                    color: #333;
                    background:#fff;
                    border:none;
                    .ant-collapse-item:last-child{
                        border-bottom: none;
                    }
                }
                .ant-collapse-header{
                    color: #333;
                }
                .ant-collapse-content > .ant-collapse-content-box {
                    padding: 12px 12px 8px 35px;
                    background:rgba(245,245,245,.8);
                }
                .parmShow{
                    color: #333;
                    .parmKey{
                        margin-right: 5px;
                    }
    
                }
            }
        }
    }
}
.maxIndex{
    z-index: 999;
}
.minIndex{
    z-index: 10;
}


@media (max-width: 768px) {
    .attributeTabWrapper{
       top: 60px;
        .attributeTab{
            width: 280px;
            max-height: 560px;
            .attributeTab-container  {
                font-size: 12px;
                .list-top-item {
                    padding: 12px 10px 12px 15px;
                }
                .group-context{
                    .ant-collapse {
                       font-size: 12px;
                    }
                }
           }
        }
    }
}
