.download{
    width: 100%;
    background: #F8FAFD;
    overflow: hidden;
    .download-container{
         min-width: 1200px;
        .download-card{
            display: none;
        }
        .download-tab{
            display: block;
        }
        .ant-tabs-nav-wrap{
            background: #FFF;
        }
        .ant-tabs-nav {
            width: 800px;
            left: 42%;
            margin-left: -375px;
            .ant-tabs-tab {
                padding: 18px 0;
                font-size: 16px;
                margin: 0 42px;
            }
        }
        .ant-tabs-bar {
            border: none;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,.06);
        }
        .ant-tabs-tabpane{
            width: 100%;
            margin-top: 50px;
        }
        .tab-ul{
            min-height: 380px;
            margin: 10px auto 30px auto;
            overflow: hidden;
            .tab-li{
                float: left;
                width: 278px;
                height: 352px;
                border-radius: 4px;
                background: rgba(61, 129, 250, 0.04);
                padding: 25px 34px;
                margin: 0 29px 30px 0;
                box-sizing: border-box;
                background: #FFF;
                .qrcode-container{
                    display: none;
                }
                .tab-container{
                    display: block;
                    width: 100%;
                    height: 100%;
                    .tab-item{
                        width: 100px;
                        height: 100px;
                        background: #EFF2F5;
                        border-radius: 50%;
                         margin: 0 auto;
                        .tab-img{
                            display: inline-block;
                            height: 42px;
                        }
                        .tab-qrcode{
                            display: inline-block;
                            width: 100px;
                            height: 100px;
                        }
        
                    }
                    .tab-title{
                        margin-top: 24px;
                        margin-bottom: 8px;
                        text-align: center;
                        color: #2B2B2B;
                        font-size: 18px;
                        font-weight: 500;
                    }
                    .tab-desc{
                        display: inline-block;
                        width: 210px;
                        height: 40px;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 500;
                        color: #252B3A;
                        line-height: 1.6;
                        margin-bottom: 24px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                    .tab-down{
                        width: 210px;
                        height: 48px;
                        line-height: 48px;
                        text-align: center;
                        margin: 0 auto;
                        background-color: #3D81FA;
                        span{
                            display: inline-block;
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                    .downloadTxt,.qrcodeTxt{
                        color:#fff;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                    .tab-version{
                        margin-top: 20px;
                        span{
                            display: inline-block;
                            font-size: 12px;
                            font-weight: 500;
                            color: #8992A6;
                            line-height: 17px;
                        }
                    }
    
                }
                &:last-child{
                    margin-right: 0;
                }
            } 
            .tab-qrcode{
                cursor: pointer;
            }
            .tab-qrcode:hover{
                transform: translateY(-5px);
                transition: all .4s ease-in-out .2s;
                .tab-container{
                    display: none;
                }
                .qrcode-container{
                    display: block;
                    .qrcode{
                        display: inline-block;
                        width: 200px;
                        height: 200px;
                        margin: 24px auto 20px auto;
                    }
                    .qrcode-text{
                        font-size: 18px;
                        font-weight: 500;
                        color: #2B2B2B;
                        line-height: 25px;
                        text-align: center;
                    }
                }
    
            }
        }
        .download-all{
            margin: 26px 0 72px 0;
            .all-btn{
                width: 164px;
                height: 48px;
                font-size: 20px;
                font-weight: 500;
                color: #8992A6;
                line-height: 28px;
                border: 1px solid #8992A6;
                background-color: transparent !important;
                box-sizing: border-box;
                &:hover{
                    border-color: #3D81FA;
                    color: #3D81FA;
                    transition: all 0.3s;
                }
            }

        }
    } 
}
@media (max-width: 768px) {
    .download{
        .download-container{
            min-width:0;
            width: 100%;
            .download-tab{
                display: none;
            }
            .download-card{
                display: block;
                width: 100%;
                padding:0px 24px 40px 24px;
                h3{
                    font-size: 26px;
                    color: #252B3A;
                    line-height: 27px;
                    margin-bottom: 32px;
                    text-align: center;
                }
               
                .show{
                    display: block;
                }
                .hidden{
                    display: none;
                }
                .card-wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%; 
                    padding: 20px 30px;
                    background: #FFF;
                    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.06);
                    border-radius: 8px;
                    .tab-img{
                        display: inline-block;
                        width: 210px;
                        height: 210px;
                        margin: 10px auto 24px auto;
                    }
                    .tab-title{
                        margin-bottom: 10px;
                        text-align: center;
                        color: #2B2B2B;
                        font-size: 16px;
                    }
                    .tab-desc{
                        text-align: center;
                        color: #252B3A;
                        font-size: 14px;
                    }
                    
                    .tab-down{
                        width: 210px;
                        height: 48px;
                        line-height: 48px;
                        text-align: center;
                        margin: 30px auto 24px auto;
                        background-color: #3D81FA;
                        span{
                            display: inline-block;
                            font-size: 16px;
                            font-weight: 500;
                            color: #fff;
                        }
                    }
                    .tab-version{
                        width: 210px;
                        span{
                            display: inline-block;
                            font-size: 12px;
                            font-weight: 500;
                            color: #8992A6;
                            line-height: 17px;
                        }
                    }
                    .qrcodeTxt{
                        color: #252B3A;
                    }
                } 
            }
            
        }
    }
}