.footer {
    width: 100%;
    background-color: #101724;
    .footer-wrapper {
        color: #fff;
        font-size: 14px;
        .footer-top{
            background: url(../../img/common/footer/footer-bg.webp) no-repeat center top;
            background-position: center;
            background-size: cover;
        }
        .contact-wrapper {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 16px;
            .contact-body-left {
                float: left;
                .company-logo {
                    width: 185px;
                    height: 50px;
                    margin-top: 88px;
                    margin-bottom: 27px;
                    img {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                    }
                }
                .contact-address {
                    opacity: 0.65;
                    line-height: 1.5;
                    .company-item {
                        margin: 16px 0 0 0;
                    }
                    .company-address {
                        margin-bottom: 40px;
                    }
                }
                .contact-us {
                    display: none;
                }
            }

            .contact-body-right {
                float: right;
                .contact-menu{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-top: 126px;
                    .contact-menu-item{
                        margin-right: 107px;
                        &:last-child{
                            margin-right: 0;
                        }
                        dt{
                            font-size: 16px;
                            font-weight: bold;
                            color: #fff;
                            margin-bottom: 20px;
                        }
                        dd{
                            & a {
                                display: inline-block;
                                font-size: 14px;
                                margin-bottom: 15px;
                                font-weight: 400;
                                color: rgba(255, 255, 255, 0.65);
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                        
                        .contact-right{
                            .contact-qrcode{
                                margin-right: 18px;
                                align-items: center;
                                margin-bottom: 56px;
                                img{
                                    display: inline-block;
                                    width: 96px;
                                    height: 96px;
                                }
                                span{
                                    display: inline-block;
                                    margin-top: 12px;
                                    font-size: 12px;
                                    font-weight: 400;
                                    color: #FFF;
                                }
                                &:last-child{
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
                .contact-qr {
                    display: none;
                }
            }
        }

        @media (max-width: 768px) {
            .contact-wrapper {
                padding: 0 24px;
                .contact-body-left {
                    width: 60%;
                    .company-logo {
                        display: none;
                    }
                    .contact-address {
                        .company-address {
                            margin-bottom: 30px;
                        }
                    }
                    .contact-us {
                        display: inline-block;
                        font-size: 14px;
                        font-family: PingFangSC-Regular, PingFang SC;
                        line-height: 20px;
                        margin-top: 20px;
                    }

                    .contact-address {
                        font-size:12px;
                        font-weight: 300;
                        .company-item {
                            margin-top: 14px;
                        }
                        .company-phone {
                            display: inline-block;
                        }
                    }
                }
                .contact-body-right {
                    .contact-menu{
                      display: none;
                    }
                    .contact-qr {
                        display: inline-block;
                        width: 90px;
                        height: 90px;
                        margin: 54px 0 24px 0;
                        img {
                            display: inline-block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        .record-wrapper {
            border-top: 1px solid rgba(255, 255, 255, 0.16);
            box-sizing: border-box;
            padding: 24px 0;
            font-size: 12px;
            font-weight: 300;
            text-align: center;
            line-height: 1.5;
            opacity: .65;
            .record{
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 1200px;
                margin: 0 auto;
                padding: 0 16px;
            }
            .yizhu-link{
                a:not(:last-child):after{
                    content: " ";
                    border-right: 1px solid #9a9ba6;
                    margin-left: 2px;
                }
            }
            a{
                cursor: pointer;
                color: rgba(255, 255, 255, 0.65);
                margin-left: 5px;
                &:hover{
                    text-decoration: underline;
                    // color: #3D81FA;
                }
            }
            .ipCode:hover{
                color: rgba(255, 255, 255, 0.65);
            }
            
        }
        @media (max-width: 768px) {
            .record-wrapper {
                padding: 16px 0;
                .record{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                }
               
                // .yizhu-link{
                //     display: none;
                // }
                .copyright{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        @media (max-width: 375px) {
            .record-wrapper {
                width: 100%;
                padding: 20px 0;
                .record{
                    max-width: 100%;
                    margin: 0 auto;
                    padding: 0;
                }
                .copyright{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    align-items: center;
                    a{
                        margin-top: 5px;
                    }

                }
                
            }

        }
    }
}