.footer {
  width: 100%;
  background-color: #101724;
}
.footer .footer-wrapper {
  color: #fff;
  font-size: 14px;
}
.footer .footer-wrapper .footer-top {
  background: url(../../img/common/footer/footer-bg.webp) no-repeat center top;
  background-position: center;
  background-size: cover;
}
.footer .footer-wrapper .contact-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.footer .footer-wrapper .contact-wrapper .contact-body-left {
  float: left;
}
.footer .footer-wrapper .contact-wrapper .contact-body-left .company-logo {
  width: 185px;
  height: 50px;
  margin-top: 88px;
  margin-bottom: 27px;
}
.footer .footer-wrapper .contact-wrapper .contact-body-left .company-logo img {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.footer .footer-wrapper .contact-wrapper .contact-body-left .contact-address {
  opacity: 0.65;
  line-height: 1.5;
}
.footer .footer-wrapper .contact-wrapper .contact-body-left .contact-address .company-item {
  margin: 16px 0 0 0;
}
.footer .footer-wrapper .contact-wrapper .contact-body-left .contact-address .company-address {
  margin-bottom: 40px;
}
.footer .footer-wrapper .contact-wrapper .contact-body-left .contact-us {
  display: none;
}
.footer .footer-wrapper .contact-wrapper .contact-body-right {
  float: right;
}
.footer .footer-wrapper .contact-wrapper .contact-body-right .contact-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 126px;
}
.footer .footer-wrapper .contact-wrapper .contact-body-right .contact-menu .contact-menu-item {
  margin-right: 107px;
}
.footer .footer-wrapper .contact-wrapper .contact-body-right .contact-menu .contact-menu-item:last-child {
  margin-right: 0;
}
.footer .footer-wrapper .contact-wrapper .contact-body-right .contact-menu .contact-menu-item dt {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}
.footer .footer-wrapper .contact-wrapper .contact-body-right .contact-menu .contact-menu-item dd a {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65);
}
.footer .footer-wrapper .contact-wrapper .contact-body-right .contact-menu .contact-menu-item dd a:hover {
  text-decoration: underline;
}
.footer .footer-wrapper .contact-wrapper .contact-body-right .contact-menu .contact-menu-item .contact-right .contact-qrcode {
  margin-right: 18px;
  align-items: center;
  margin-bottom: 56px;
}
.footer .footer-wrapper .contact-wrapper .contact-body-right .contact-menu .contact-menu-item .contact-right .contact-qrcode img {
  display: inline-block;
  width: 96px;
  height: 96px;
}
.footer .footer-wrapper .contact-wrapper .contact-body-right .contact-menu .contact-menu-item .contact-right .contact-qrcode span {
  display: inline-block;
  margin-top: 12px;
  font-size: 12px;
  font-weight: 400;
  color: #FFF;
}
.footer .footer-wrapper .contact-wrapper .contact-body-right .contact-menu .contact-menu-item .contact-right .contact-qrcode:last-child {
  margin-right: 0;
}
.footer .footer-wrapper .contact-wrapper .contact-body-right .contact-qr {
  display: none;
}
@media (max-width: 768px) {
  .footer .footer-wrapper .contact-wrapper {
    padding: 0 24px;
  }
  .footer .footer-wrapper .contact-wrapper .contact-body-left {
    width: 60%;
  }
  .footer .footer-wrapper .contact-wrapper .contact-body-left .company-logo {
    display: none;
  }
  .footer .footer-wrapper .contact-wrapper .contact-body-left .contact-address .company-address {
    margin-bottom: 30px;
  }
  .footer .footer-wrapper .contact-wrapper .contact-body-left .contact-us {
    display: inline-block;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    line-height: 20px;
    margin-top: 20px;
  }
  .footer .footer-wrapper .contact-wrapper .contact-body-left .contact-address {
    font-size: 12px;
    font-weight: 300;
  }
  .footer .footer-wrapper .contact-wrapper .contact-body-left .contact-address .company-item {
    margin-top: 14px;
  }
  .footer .footer-wrapper .contact-wrapper .contact-body-left .contact-address .company-phone {
    display: inline-block;
  }
  .footer .footer-wrapper .contact-wrapper .contact-body-right .contact-menu {
    display: none;
  }
  .footer .footer-wrapper .contact-wrapper .contact-body-right .contact-qr {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 54px 0 24px 0;
  }
  .footer .footer-wrapper .contact-wrapper .contact-body-right .contact-qr img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
.footer .footer-wrapper .record-wrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.16);
  box-sizing: border-box;
  padding: 24px 0;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  opacity: 0.65;
}
.footer .footer-wrapper .record-wrapper .record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.footer .footer-wrapper .record-wrapper .yizhu-link a:not(:last-child):after {
  content: " ";
  border-right: 1px solid #9a9ba6;
  margin-left: 2px;
}
.footer .footer-wrapper .record-wrapper a {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.65);
  margin-left: 5px;
}
.footer .footer-wrapper .record-wrapper a:hover {
  text-decoration: underline;
}
.footer .footer-wrapper .record-wrapper .ipCode:hover {
  color: rgba(255, 255, 255, 0.65);
}
@media (max-width: 768px) {
  .footer .footer-wrapper .record-wrapper {
    padding: 16px 0;
  }
  .footer .footer-wrapper .record-wrapper .record {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .footer .footer-wrapper .record-wrapper .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 375px) {
  .footer .footer-wrapper .record-wrapper {
    width: 100%;
    padding: 20px 0;
  }
  .footer .footer-wrapper .record-wrapper .record {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .footer .footer-wrapper .record-wrapper .copyright {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .footer .footer-wrapper .record-wrapper .copyright a {
    margin-top: 5px;
  }
}
