.scroll-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  .scroll-top-button:hover {
    opacity: 0.8;
  }