@import './common.less';

/********* banner 公共样式 *********/
//字体大小需要进行自适应
//banner 标题
.bannerTitle{
    text-align: left;
    color: @fc-gray1;
    font-weight:500;
    line-height: 1.5;
}
//banner 描述
.bannerDesc{
    line-height:1.5;
    color: @fc-gray2;
    font-weight:400;
    text-align: justify;
}

/******** 内容 公共样式 **********/

//内容 小标题
.containTitle{
    font-weight: 500;
    line-height: 1.5;
    color: @fc-gray1;
    text-align: center;
}
//内容 详情
.containDesc{
    color: @fc-gray2;
    line-height: 1.5;
    font-weight:400;
    text-align: left;
}
//icon 下描述文字
.iconDesc{
    color: @fc-gray3;
    line-height: 1.5;
    text-align: center;
    font-weight:400;
}

/****   其他  *****/
//普通描述性字体
.commonFont{
    // font-size: 16px;
    color: @fc-gray2;
    font-weight: 400;
}

