.userInfo-page{
    width: 100%;
    height: 100vh;
    background: #EEF0F5;
    .userInfo{
        position: absolute;
        width: calc(100vw - 48px);
        height: calc(100vh - 150px);
        top: 60px;
        margin: 24px;
        background: #fff;
        border-radius: 2px;
        overflow: hidden;
    }
    .userInfo-content{
        .userInfo-tab{
            .ant-tabs-left-bar{
                padding: 30px 0;
                height: calc(100vh - 150px);
                .ant-tabs-tab{
                    margin-bottom: 0;
                    padding: 10px 146px 10px 24px;
                }
                .ant-tabs-tab-active{
                    background: #F0F5FF;
                }
                
            } 
        }
        // .ant-tabs-tabpane{
        //     height: calc(100vh - 108px); 
        // }
    }
    
   

}
