 .scene{
  position: absolute;
  width: 100%;
  height: calc(100vh - 60px);
  background: #fff;
  .scene-list {
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    background-color: #fff;
    li{
      position: relative;
      height: 150px;
      padding: 30px 0 30px 240px;
      border-bottom: 1px solid #eee;
      cursor: pointer;
      .scene-img {
        position: absolute;
        top: 25px;
        left: 0;
        width: 180px;
        height: 100px;
        background-color: #ccc;
      }
      .scene-detail{
        h2{
          font-size: 18px;
          font-weight: 500;
          // line-height: 25px;
          color: #252B3A;
        }
        p{
          margin-top: 10px;
          line-height: 24px;
          color: #252B3A;
          overflow: hidden;
        }
        span{
          display: inline-block;
          cursor: pointer;
          position: absolute;
          left: 240px;
          bottom: 20px;
          color: #3D81FA;
          margin-bottom: 6px;
        }
      }
    }
  }
}

.react-rnd-list-drag {
  height: 100%;
  width: 100%;
  position: relative;
  .list-drag-left {
    z-index: 99;
    transform: translate(0px, 0px) !important;
    border-right: 1px solid #E8EAED;
  }
  .list-drag-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

 
 