// header导航部分高度
@h-header-nav: 60px;         
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @h-header-nav;
  z-index: 2000;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  .nav-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .nav-front {
        height: 100%;
        .nav-logo {
          display: inline-block;
          width: 35px;
          height: 30px;
          transition-duration: .5s;
        }
        .navText{
          display: inline-block;
          font-size: 18px;
          font-family: Lato-Bold, Lato;
          font-weight: bold;
          line-height: 22px;
          margin-left: 5px;
        }
    }
    .nav-menu{
      display: none;
    }
    .nav-link{
      display: flex;
      justify-content: space-between;
      width: 600px;
    }
    .nav-open{
      display: flex;
      justify-content: flex-end;
      margin-left: 100px;
      .nav-button{
        margin-left: 30px;
        & span {
          flex-grow: 1;
          display: inline-block;
          text-decoration: none;
          padding: 20px 0;
          height: 100%;
          text-align: center;
          font-weight: 400;
          font-size: 16px;
        }
        & span:hover {
          color: #3D81FA;
        }
        .active {
          color: #3D81FA;
        }
      }
     
    }
    .nav-link {
      .nav-button {
          display: inline-block;
          text-align: center;
          & a {
            flex-grow: 1;
            display: inline-block;
            text-decoration: none;
            padding: 20px 0;
            height: 100%;
            text-align: center;
            font-weight: 400;
            font-size: 16px;
          }
  
          & a:hover {
            color: #3D81FA;
          }
          .active {
            color: #3D81FA;
          }
      }
      .show-submenu {
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-img {
          display: inline-block;
          width: 12px;
          height: 12px;
          margin-left: 6px;
        }
        .hover-up {
          background: url('../../img/common/nav_drop_up.png') no-repeat;
          background-size: 100% 100%;
          transition-duration: .8s;
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          margin-bottom: 0px;
        }
        .hover-down {
          background: url('../../img/common/nav_drop_down.png') no-repeat;
          background-size: 100% 100%;
          transition-duration: .8s;
        }
      }
      .show-submenu:hover {
        .nav-img {
          display: inline-block;
          background: url('../../img/common/nav_drop_up.png') no-repeat;
          background-size: 100% 100%;
          transition-duration: .5s;
        }
        .nav-title {
          color: #3D81FA;
        }
      }
      .selected{
        color: #3D81FA;
      }
    }
}
}
//头部鼠标悬停 白色
.header:hover{
  background: #fff;
  transition: all 0.8s;
  .navText{
    color: #252B3A;
  }
  .nav-link {
    & a {
      color: #252B3A;
    }
  }
  .nav-open {
    & span {
      color: #252B3A;
    }
  }
}

//首页黑色头部
.back{
  background: linear-gradient(119deg, #06112A 0%, #01050F 100%);
  color: #fff;
  .navText{
    color: #fff;
  }
  .nav-link {
    & a {
      color: #fff;
    }
  }
  .nav-open {
    & span {
      color: #fff;
    }
  }
}

//其他页面白色头部
.white{
  background: #fff;
  .navText{
    color: #252B3A;
  }
  .nav-link {
    & a {
      color: #252B3A;
    }
  }
  .nav-open {
    & span {
      color: #252B3A;
    }
  }
}
.ant-menu-item {
  height: 58px;
  line-height: 1.5;
}
.ant-dropdown-menu-item{
  &:hover{
    color: #3D81FA;
  }
}
.ant-dropdown-menu-item-active{
  background: rgba(61, 129, 250, 0.1);
  color: #3D81FA;
}
.ant-menu-root.ant-menu-vertical {
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.ant-menu-item:hover{
  background-color: rgba(61,129,250,0.1);
}
.ant-menu-item-selected {
  background-color: rgba(61,129,250,0.1);
}


@media (max-width: 768px) {
  .header {
    .nav-wrapper {
      width: 100%;
      height: 100%; 
      padding: 0 16px;
      justify-content: space-between;     
      .nav-front {
        .nav-logo {
          transition-duration: .5s;
          width: 35px;
          height: 30px;
        }
      }
      .nav-link,.nav-open{
        display: none;
      }
      .nav-menu {
        font-size: 20px;
        display: flex;
        cursor: pointer;
        padding: 8px;
        margin: auto 0;
        transition-duration: .5s;
      }
    }
  }
  //首页黑色头部
  .back{
    background: #fff;
    .navText{
      color: #252B3A;
    }
  }

  //其他页面白色头部
  .white{
    background: #fff;
    .navText{
      color: #252B3A;
    }
  }
}
