.bimModel{
    position: relative;
    width: 100%;
    height:100%;
    .bimModel-content{
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;
        height:calc(100vh - 60px);
    }
}
@media (max-width: 768px) {
    .bimModel{
        height: 100vh;
    }
}
