.modelOption {
    width: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    .option-img{
        display: inline-block;
        width: 40px;
        height: 40px;
        color: #333;
        cursor: pointer; 
        i{
            font-size: 40px;
            height: 40px;
            &:hover{
                color:#3D81FA;
            }
        }
    }
    .btn-selected{
        color:#3D81FA;
    }
    
}
