//头部样式
.dev-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #20273E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  .dev-header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-left: 32px;
    .dev-header-logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      img{
        display: inline-block;
        height: 36px;
      }
      .logo-name{
        font-size: 18px;
        font-family: Lato-Bold, Lato;
        font-weight: 500;
        color: #FFFFFF;
        line-height: 40px;
        margin-left: 10px;
      }
    }
    .dev-header-navLink{
        .nav-button {
            display: inline-block;
            text-align: center;
            & a {
              flex-grow: 1;
              display: inline-block;
              text-decoration: none;
              padding-left: 24px;
              height: 100%;
              text-align: center;
              font-size: 14px;
              color: #ADB0B8;
            }
            & a:hover {
              color: #fff;
            }
        }
        .nav-button:first-child{
            & a{
              margin-left: 24px;
              border-left: 1px solid #E4E4E4;
            }
        }

    }
    // .dev-header-name {
    //   color: #ADB0B8;
    //   font-size: 14px;
    //   margin-left: 24px;
    //   padding: 0 24px;
    //   border-left: 1px solid #E4E4E4;
    // }
  }
  .dev-header-right {
    .user-setting {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      padding: 0 15px;
      margin-right: 30px;
      &:hover{
        background-color: #364164;
        color: #fff;
      }
    }
    .user-avatar {
      float: left;
      width: 28px;
      height: 28px;
      cursor: pointer;
      .ant-avatar{
        float: left;
      }
    }
    .user-msg {
      color: #E4E4E4;
      margin: 0 8px 0 12px;
      cursor: pointer;
      span {
        display: inline-block;
        font-size: 14px;
        line-height: 2;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .ant-popover-inner-content {
    max-height: 700px;
    overflow-y: auto;
  }
}
//尾部样式
.dev-footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  .copyRight {
    margin: 34px auto 24px auto;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    line-height: 20px;
    text-align: center;
    a{
      &:hover{
        text-decoration: underline;
      }
    }
    
  }
}