.bimModelList{
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 120px);
    padding: 24px 30px 24px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    .bimModelList-header{
        .option-btn{
            margin-right: 10px;
        } 
    }
    .bimModelList-content{
        height: 100%;
        .operate-wrapper{
            margin: 24px 0;
            .option-item{
                margin-right: 10px;
            }
        }
        .content-table{
            height: calc( 100% - 125px );
            display: block;
            margin: 0 auto ;
            box-sizing: border-box;
            border-radius: 4px;
            background: #fff;
            // overflow: auto;
            .ant-table-content{
                width: 100%;
                height:100%;
            }
            .ant-table-thead > tr > th {
                position: sticky;
                background: rgba(61, 129, 250, 0.08) !important;
            }
            
            .ant-table-pagination.ant-pagination {
                float: right;
                margin: 12px;
            }
            .record-version{
                background: #E6FFFB;
                border-radius: 4px;
                border: 1px solid #87E8DE;
                .version{
                    font-size: 12px;
                    font-weight: 400;
                    color: #13C2C2;
                    padding: 5px 10px;
                }
            }
            .opreate{
                span{
                    display: inline-block;
                    color: #3D81FA;
                    padding: 0 8px;
                    font-size: 14px;
                    cursor: pointer;
                }
                .view{
                    border-right: 1px solid #D8D8D8;
                }
            }
            .status-canuse{
               color: #52C41A;
            }
            .status-waiting{
               color: rgba(0, 0, 0, 0.65);
            }
            .status-error{
                color:#F5222D;
                .reflash{
                    margin-left: 8px;
                    color:#F5222D;
                    cursor: pointer;
                }
            }
            .status-transfrom{
                color: #3D81FA;
                .loading{
                    margin-left: 8px;
                    color: #3D81FA;
                }
            }
        }
    }
    .ant-modal-body{
        .share-wrapper{
            overflow: hidden;
            .share-left-block{
                float: left;
                width: 320px;
                padding-right: 25px;
                border-right: 1px solid #d9d9d9;
                span{
                    display: inline-block;
                    vertical-align: middle;
                }
                .share-name{  
                    max-width: 200px;
                    font-weight: 500;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .share-right-block{
                float: right;
                width: 190px;
                padding: 0 10px 0 20px;
                .share-tip{
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
        }
        
    }
}

