.modelEffect{
  position: relative;
  width: 100%;
  height:100%;
  .modelEffect-content{
      position: absolute;
      left: 0;
      top: 60px;
      width: 100%;
      height:calc(100vh - 60px);
  }
  .effect-wrapper{
    position:absolute;
    right: 20px;
    top: 30%;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 4px;
    .effect-item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
    }
    #set-Colors-wrapper{
        margin-left: 5px;
        .ant-select{
          .color-item{
            height: 28px;
            width: 104px;
            border-radius: 4px 0px 0px 4px;
            position: absolute;
            left: -10px;
            top: 0px;
            &>div{
              width: 100%;
              height: 100%;
              border-radius: 4px 0px 0px 4px;
            }
          }
        }
        .ant-select-dropdown{
          .color-item{
            height: 24px;
            width: 100%;
            border: 2px solid #fff;
            padding: 1px;
            background: #fff;
            &>div{
              height: 18px;
              width: calc(100% - 2px);
              margin-left: 1px;
              border: 1px solid #eee;
            }
            &:hover{
              border-color: #3D81FA;
            }
          }
          .ant-select-dropdown-menu-item{
            padding: 0 3px;
            &.ant-select-dropdown-menu-item-active{
              .color-item{
                border-color: #3D81FA!important;
              }
            }
          }
        }
    }
  }
}
