.comingsoon{
    width: 100%;
    background: #fff;
    .comingsoon-content{
        position: absolute;
        top:25%;
        left:50%;
        transform: translate(-50%,25%);
        .comingsoon-message{
            margin-top: 30px;
            .comingsoon-text{
                font-size: 17px;
                color: #333;

            }

        }
    }
}