#mini-map-wrapper{
    .mini-map-wrapper-top{
      position: absolute;
      bottom: 200px;
      height: 34px;
      width: 280px;
      box-shadow: 1px 0px 4px -1px rgba(0,0,0,0.1);
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 0px 4px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 12px;
      .ant-select {
        height: 20px;
      }
      .ant-select-selection {
        border-radius: 0px;
        background-color: rgba(0, 0, 0, 0.8);
      }
      .ant-select-arrow{
        color: #d9d9d9;
      }
      .ant-select-selection--single {
        height: 20px;
      }
      .ant-select-selection__rendered {
        line-height: 20px;
      }
      .ant-select-selection-selected-value{
        color: #d9d9d9;
      }
      .tool-box{
        i{
          font-size: 14px;
          margin: 0 5px;
          color: #d9d9d9;
        }
      }
    }
    .mini-map-view{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 260px;
      height: 200px;
      background: rgba(0, 0, 0, 0.8);
    }
    .miniMap-empty{
      position: absolute;
      left: 45%;
      bottom: 50%;
      color: #d9d9d9;
      font-size: 13px;

    }
    .mini-map-wrapper-right{
      position: absolute;
      bottom: 0;
      height: 200px;
      width: 20px;
      box-shadow: 3px 0 4px -3px rgba(0,0,0,0.1);
      left: 260px;
      background: rgba(0, 0, 0, 0.8);
    //   background: #fff;
    }
    .none{
      display: none;
    }
    &.scale-max-box{
      .mini-map-wrapper-top{
        width: 50%;
        top: 10%;
        left: 25%;
        height: 60px;
        box-shadow: none;
        // border: 1px solid rgba(245,245,245,1);
        border-bottom: 0;
        // background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.8);
        background: rgba(0, 0, 0, 0.8);
        border-radius: 4px 4px 0 0;
        padding: 0 15px 0 20px;
        .ant-select {
          height: 30px;
        }
        .ant-select-selection--single {
          height: 30px;
        }
        
        .ant-select-selection {
          border-radius: 3px;
          background-color: rgba(0, 0, 0, 0.8);
        }
        .ant-select-selection__rendered {
          line-height: 30px;
        }
        .ant-select-selection-selected-value{
          color: #d9d9d9;
        }
        
        .tool-box{
            i{
              font-size: 16px;
            }
          }
      }
      .mini-map-wrapper-left{
        position: absolute;
        width: 20px;
        height: calc(70% - 80px);
        top: calc(10% + 60px);
        left: 25%;
        box-shadow: none;
        border-left: 1px solid rgba(0, 0, 0, 0.8);
        background: rgba(0, 0, 0, 0.8);
      }
      .mini-map-view{
        position: absolute;
        top: calc(10% + 60px);
        left: calc(25% + 20px);
        width: calc(50% - 40px);
        height: calc(70% - 80px);
      }
      .mini-map-wrapper-right{
        position: absolute;
        width: 20px;
        height: calc(70% - 80px);
        top: calc(10% + 60px);
        left: calc(75% - 20px);
        box-shadow: none;
        border-right: 1px solid rgba(0, 0, 0, 0.8);
        background: rgba(0, 0, 0, 0.8);
      }
      .mini-map-wrapper-bottom{
        position: absolute;
        width: 50%;
        height: 20px;
        top: calc(80% - 20px);
        left: 25%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        background: rgba(0, 0, 0, 0.8);
        border-radius: 0px 0px 4px 4px;
       
      }
    }
  
    .ant-select-tree-dropdown {
      color: #d9d9d9 !important;
    }
    .ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
      background-color: transparent;
      color:#3D81FA;
    }
   
  }