.contact-float{
    display: block;
    position: fixed;
    bottom: 100px;
    right: 36px;
    // background-color: #fff;
    box-shadow: 0px 2px 16px 0px rgba(165, 188, 231, 0.2);
    border-radius: 4px;
    transition: all .4s;
    z-index: 999;
    .contact-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .contact-us{
            width: 46px;
            height: 156px;
            background-color: #3D80FA ;
            color: #fff;
            margin-bottom: 10px;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            .icon-img{
                width: 40px;
                height: 40px;
                margin-top: 10px;
            }
            .icon-txt{
                width: 16px;
                height: 88px;
            }
        }
        .contact-us:hover{
            opacity: 0.75;
        }
        .contact-item{
            cursor: pointer;
            width: 46px;
            height: 46px;
            padding: 12px;
            // border-radius: 4px;
            box-sizing: border-box;
            background: #fff;
            img{
                display: inline-block;
                width: 24px;
                height: 24px;
            }
        }
        .content-item-one{
            border-top-right-radius:4px;
            border-top-left-radius:4px;
        }
        // .content-item-two{
        //     border-bottom-right-radius:4px;
        //     border-bottom-left-radius:4px;
        // }
        .contact-item:hover{
            // background: rgba(61,128,250,0.08);
            background-color: #e1ecff;
        }
    }
    
}

@media (max-width: 768px) {
    .contact-float{
        display: none;
    }
}