.contact-float {
  display: block;
  position: fixed;
  bottom: 100px;
  right: 36px;
  box-shadow: 0px 2px 16px 0px rgba(165, 188, 231, 0.2);
  border-radius: 4px;
  transition: all 0.4s;
  z-index: 999;
}
.contact-float .contact-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contact-float .contact-content .contact-us {
  width: 46px;
  height: 156px;
  background-color: #3D80FA;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
.contact-float .contact-content .contact-us .icon-img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.contact-float .contact-content .contact-us .icon-txt {
  width: 16px;
  height: 88px;
}
.contact-float .contact-content .contact-us:hover {
  opacity: 0.75;
}
.contact-float .contact-content .contact-item {
  cursor: pointer;
  width: 46px;
  height: 46px;
  padding: 12px;
  box-sizing: border-box;
  background: #fff;
}
.contact-float .contact-content .contact-item img {
  display: inline-block;
  width: 24px;
  height: 24px;
}
.contact-float .contact-content .content-item-one {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.contact-float .contact-content .contact-item:hover {
  background-color: #e1ecff;
}
@media (max-width: 768px) {
  .contact-float {
    display: none;
  }
}
