.home {
  width: 100%;
  background: #fff;
  position: relative;
}
.home #bannerSwiper {
  width: 100%;
  background: linear-gradient(119deg, #06112A 0%, #01050F 100%);
}
.home #bannerSwiper .swiper-1 {
  background: url(../../common/img/home/banner1.webp) no-repeat center top;
  background-position: center;
  background-size: cover;
}
.home #bannerSwiper .swiper-2 {
  background: url(../../common/img/home/banner2.webp) no-repeat center top;
  background-position: center;
  background-size: cover;
}
.home #bannerSwiper .swiper-3 {
  background: url(../../common/img/home/banner3.webp) no-repeat center top;
  background-position: center;
  background-size: cover;
}
.home #bannerSwiper .swiper-pagination-custom {
  width: 100%;
  left: 0;
  bottom: 45px;
}
.home #bannerSwiper .swiper-pagination-customs {
  display: inline-block;
  padding: 10px 0;
  margin: 0 5px;
}
.home #bannerSwiper .swiper-pagination-customs .customs-item {
  display: inline-block;
  width: 32px;
  height: 4px;
  background: #FFFFFF;
  border-radius: 4px;
  opacity: 0.3;
}
.home #bannerSwiper .swiper-pagination-customs:hover {
  cursor: pointer;
}
.home #bannerSwiper .swiper-pagination-customs-active .customs-item {
  opacity: 1;
}
.home p.con-caption {
  max-width: 850px;
  margin: 16px auto 30px auto;
  text-align: center;
}
.home .engineFunction {
  padding: 88px 0 64px 0;
}
.home .engineFunction p.con-caption {
  max-width: 520px;
  margin: 16px auto 0 auto;
  text-align: center;
}
.home .engineFunction .caption2 {
  margin-top: 16px !important;
}
.home .engineFunction .standH5Tab {
  display: none;
}
.home .engineFunction .standardTab {
  display: block;
  margin-top: 30px;
}
.home .engineFunction .standardTab .stand-tab1 .ant-tabs-nav-wrap,
.home .engineFunction .standardTab .stand-tab2 .ant-tabs-nav-wrap {
  width: 1200px;
  margin: 0 auto;
}
.home .engineFunction .standardTab .stand-tab1 .ant-tabs-tab,
.home .engineFunction .standardTab .stand-tab2 .ant-tabs-tab {
  width: 120px;
  margin-right: 150px;
  padding: 12px 0;
}
.home .engineFunction .standardTab .stand-tab1 .ant-tabs-tab:last-child,
.home .engineFunction .standardTab .stand-tab2 .ant-tabs-tab:last-child {
  margin-right: 0;
}
.home .engineFunction .standardTab .stand-tab1 .ant-tabs-tab .ant-tabs-nav,
.home .engineFunction .standardTab .stand-tab2 .ant-tabs-tab .ant-tabs-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .engineFunction .standardTab .stand-tab1 .ant-tabs-tab .tabshow,
.home .engineFunction .standardTab .stand-tab2 .ant-tabs-tab .tabshow {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.home .engineFunction .standardTab .stand-tab1 .ant-tabs-tab .tabshow .tab-bg,
.home .engineFunction .standardTab .stand-tab2 .ant-tabs-tab .tabshow .tab-bg {
  width: 100px;
  height: 100px;
  position: relative;
}
.home .engineFunction .standardTab .stand-tab1 .ant-tabs-tab .tabshow .tab-img,
.home .engineFunction .standardTab .stand-tab2 .ant-tabs-tab .tabshow .tab-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.home .engineFunction .standardTab .stand-tab1 .ant-tabs-tab .tabshow .tab-title,
.home .engineFunction .standardTab .stand-tab2 .ant-tabs-tab .tabshow .tab-title {
  width: 80px;
  font-size: 16px;
  font-weight: 500;
  color: #252B3A;
  text-align: center;
}
.home .engineFunction .standardTab .stand-tab1 .ant-tabs-tab-active .tab-title,
.home .engineFunction .standardTab .stand-tab2 .ant-tabs-tab-active .tab-title {
  color: #3D81FA !important;
}
.home .engineFunction .standardTab .stand-tab1 .ant-tabs-bar,
.home .engineFunction .standardTab .stand-tab2 .ant-tabs-bar {
  border: none;
}
.home .engineFunction .standardTab .stand-tab1 .ant-tabs-ink-bar,
.home .engineFunction .standardTab .stand-tab2 .ant-tabs-ink-bar {
  background: transparent;
}
.home .engineFunction .standardTab .stand-tab1 .ant-tabs-tab-prev-icon-target,
.home .engineFunction .standardTab .stand-tab2 .ant-tabs-tab-prev-icon-target,
.home .engineFunction .standardTab .stand-tab1 .ant-tabs-tab-next-icon-target,
.home .engineFunction .standardTab .stand-tab2 .ant-tabs-tab-next-icon-target {
  font-size: 20px !important;
  font-weight: 600 !important;
}
.home .engineFunction .standardTab .stand-tab1 .ant-tabs-nav-container-scrolling,
.home .engineFunction .standardTab .stand-tab2 .ant-tabs-nav-container-scrolling {
  padding-left: 0;
  padding-right: 0;
}
.home .engineFunction .standardTab .stand-tab1 .ant-tabs-content,
.home .engineFunction .standardTab .stand-tab2 .ant-tabs-content {
  background: #F8FAFD;
}
.home .engineFunction .standardTab .showTanel {
  display: block;
}
.home .engineFunction .standardTab .hideTanel {
  display: none;
}
.home .engineFunction .activeTab {
  height: 678px;
  overflow: auto;
}
.home .engineFunction .activeTab .ant-tabs-nav-wrap {
  margin-top: 514px !important;
}
.home .engineFunction .activeTab .ant-tabs-content {
  margin-top: -678px !important;
}
.home .engineFunction .captionShow {
  width: 1200px;
  margin: 0 auto;
}
.home .engineFunction .captionShow .captionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .engineFunction .captionShow .captionItem .captionText {
  padding-left: 20px;
}
.home .engineFunction .captionShow .captionItem .captionText h4 {
  color: #252B3A;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 16px;
}
.home .engineFunction .captionShow .captionItem .captionText p {
  width: 468px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 1.8;
}
.home .engineFunction .captionShow .captionItem .caption-img {
  width: 680px;
  height: 512px;
  margin-left: 60px;
}
.home .engineFunction .captionShow .captionItem .caption-img img {
  margin: 0 15px;
  display: inline-block;
  height: 100%;
}
.home .engineFunction .captionShow .captionItem #imageSwiper {
  width: 680px;
  height: 512px;
  margin-left: 60px;
}
.home .engineFunction .captionShow .captionItem #imageSwiper .swiper-slide {
  width: 100%;
  height: 100%;
}
.home .engineFunction .captionShow .captionItem #imageSwiper .swiper-slide img {
  margin: 0 10px;
  display: inline-block;
  height: 100%;
}
.home .engineFunction .captionShow .captionItem #imageSwiper .swiper-pagination-bullets {
  z-index: 999;
  bottom: 40px;
  left: 16px;
}
.home .cooperative-partner {
  padding-bottom: 88px;
}
.home .cooperative-partner .cooperative {
  width: 100%;
  margin: 56px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .cooperative-partner .cooperative .cooperative-left,
.home .cooperative-partner .cooperative .cooperative-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .cooperative-partner .more-button {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}
.home .cooperative-partner .more-button .see-more {
  cursor: pointer;
  border-radius: 2px;
  padding: 8px 20px;
  line-height: 38px;
  font-size: 16px;
  color: #3D81FA;
}
.home .cooperative-partner .more-button .see-more:hover {
  border: 1px solid #3D81FA;
}
.home .cooperative-partner .more-button .see-more .arrow {
  margin-left: 15px;
}
.home .back-color {
  width: 100%;
  background: rgba(61, 129, 250, 0.04);
}
@media (max-width: 768px) {
  .home #bannerSwiper .swiper-1,
  .home #bannerSwiper .swiper-2,
  .home #bannerSwiper .swiper-3 {
    background: none;
  }
  .home #bannerSwiper .swiper-pagination-custom {
    bottom: 10px;
  }
  .home #bannerSwiper .swiper-pagination-customs .customs-item {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .home p.con-caption {
    max-width: 100%;
    margin: 18px auto 24px auto;
    text-align: justify;
  }
  .home .engineFunction {
    padding: 32px 24px;
  }
  .home .engineFunction p.con-caption {
    max-width: 100%;
    margin: 18px auto 24px auto;
    font-size: 16px;
    text-align: justify;
  }
  .home .engineFunction .standardTab {
    display: none;
  }
  .home .engineFunction .standH5Tab {
    display: block;
  }
  .home .engineFunction .standH5Tab .ant-tabs-nav-wrap {
    width: 100%;
    margin: 0 auto;
  }
  .home .engineFunction .standH5Tab .ant-tabs-tab {
    width: 80px;
    margin-right: 10px;
    padding: 12px 0;
  }
  .home .engineFunction .standH5Tab .ant-tabs-tab:last-child {
    margin-right: 0;
  }
  .home .engineFunction .standH5Tab .ant-tabs-tab .ant-tabs-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home .engineFunction .standH5Tab .ant-tabs-tab .tabshow {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .home .engineFunction .standH5Tab .ant-tabs-tab .tabshow .tab-bg {
    width: 60px;
    height: 60px;
    position: relative;
  }
  .home .engineFunction .standH5Tab .ant-tabs-tab .tabshow .tab-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
  }
  .home .engineFunction .standH5Tab .ant-tabs-tab .tabshow .tab-title {
    width: 80px;
    max-width: 80px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 400;
    color: #353A59;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .home .engineFunction .standH5Tab .ant-tabs-tab .ant-tabs-tab-active .tab-title {
    color: #3D81FA !important;
  }
  .home .engineFunction .standH5Tab .ant-tabs-tab .ant-tabs-bar {
    margin-bottom: 30px;
    border: none !important;
  }
  .home .engineFunction .standH5Tab .ant-tabs-tab .ant-tabs-ink-bar {
    background: transparent;
  }
  .home .engineFunction .standH5Tab .ant-tabs-tab .ant-tabs-nav-container-scrolling {
    padding-right: 20px;
    padding-left: 20px;
  }
  .home .engineFunction .standH5Tab .ant-tabs-tab .ant-tabs-tab-prev.ant-tabs-tab-arrow-show,
  .home .engineFunction .standH5Tab .ant-tabs-tab .ant-tabs-tab-next.ant-tabs-tab-arrow-show {
    width: 20px !important;
  }
  .home .engineFunction .standH5Tab .ant-tabs-tab .ant-tabs-tab-prev-icon-target,
  .home .engineFunction .standH5Tab .ant-tabs-tab .ant-tabs-tab-next-icon-target {
    font-size: 18px !important;
    font-weight: 600 !important;
  }
  .home .engineFunction .standH5Tab .ant-tabs-tab .ant-tabs-content {
    background: #F8FAFD;
  }
  .home .engineFunction .captionShow {
    width: 100%;
    margin: 0 auto;
  }
  .home .engineFunction .captionShow .captionItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home .engineFunction .captionShow .captionItem .captionText {
    margin-top: 20px;
    padding-left: 0px;
  }
  .home .engineFunction .captionShow .captionItem .captionText h4 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  .home .engineFunction .captionShow .captionItem .captionText p {
    width: 100%;
    font-size: 16px;
    text-align: justify;
    margin-bottom: 0;
  }
  .home .engineFunction .captionShow .captionItem .caption-img {
    width: 100%;
    height: auto;
    max-height: 280px;
    margin-left: 0;
  }
  .home .engineFunction .captionShow .captionItem .caption-img img {
    margin: 0;
    width: 100%;
  }
  .home .engineFunction .captionShow .captionItem #imageSwiper {
    width: 100%;
    height: 320px;
    margin-left: 0px;
  }
  .home .engineFunction .captionShow .captionItem #imageSwiper .swiper-slide {
    width: 100%;
    height: 100%;
  }
  .home .engineFunction .captionShow .captionItem #imageSwiper .swiper-slide img {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .home .engineFunction .captionShow .captionItem #imageSwiper .swiper-pagination-bullets {
    z-index: 999;
    bottom: 0px;
    left: 0px;
  }
  .home .cooperative-partner {
    padding-bottom: 46px;
  }
  .home .cooperative-partner .cooperative {
    width: 100%;
    margin: 16px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home .cooperative-partner .cooperative .cooperative-left,
  .home .cooperative-partner .cooperative .cooperative-right {
    flex: 1;
  }
  .home .cooperative-partner .cooperative .cooperative-left img,
  .home .cooperative-partner .cooperative .cooperative-right img {
    width: 50%;
    height: 50%;
  }
  .home .cooperative-partner .more-button {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .home .cooperative-partner .more-button .see-more {
    cursor: pointer;
    border-radius: 2px;
    padding: 6px 12px;
    line-height: 26px;
    font-size: 14px;
    color: #3D81FA;
    border: 1px solid #3D81FA;
  }
  .home .cooperative-partner .more-button .see-more .arrow {
    margin-left: 12px;
  }
}
