.home{
    width: 100%;
    background: #fff;
    position: relative;
    #bannerSwiper {
      width: 100%;
      background: linear-gradient(119deg, #06112A 0%, #01050F 100%);
      .swiper-1{
        background: url(../../common/img/home/banner1.webp) no-repeat center top;
        background-position: center;
        background-size: cover;
      }
      .swiper-2{
        background: url(../../common/img/home/banner2.webp) no-repeat center top;
        background-position: center;
        background-size: cover;
      }
      .swiper-3{
        background: url(../../common/img/home/banner3.webp) no-repeat center top;
        background-position: center;
        background-size: cover;
      }
			.swiper-pagination-custom {
        width: 100%;
        left: 0;
				bottom: 45px;
			}
			.swiper-pagination-customs {
        display: inline-block;
        padding: 10px 0;
        margin: 0 5px;
        .customs-item{
          display: inline-block;
          width: 32px;
          height: 4px;
          background: #FFFFFF;
          border-radius: 4px;
          opacity: 0.3;
        }
        &:hover{
          cursor: pointer;
        }
			}
			.swiper-pagination-customs-active {
        .customs-item{
				 opacity: 1;
        }
			}
    }
    p.con-caption{
        max-width: 850px;
        margin: 16px auto 30px auto;
        text-align: center;
    }
    .engineFunction{
        padding: 88px 0 64px 0;
        p.con-caption{
            max-width: 520px;
            margin: 16px auto 0 auto;
            text-align: center;
        }
        .caption2{
            margin-top: 16px !important;
        }
        .standH5Tab{
          display: none;
        }
        .standardTab{
          display: block;
          margin-top: 30px;
          .stand-tab1, .stand-tab2{
            .ant-tabs-nav-wrap{
              width: 1200px;
              margin: 0 auto;
            }
            .ant-tabs-tab{
                width: 120px;
                margin-right: 150px;
                padding: 12px 0;
                &:last-child{
                  margin-right: 0;
                }
                .ant-tabs-nav{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .tabshow {
                    margin: 0 auto;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    .tab-bg{
                        width: 100px;
                        height: 100px;
                        position: relative;
                    }
                    .tab-img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 80px;
                        height: 80px;
                    }
                    .tab-title {
                        width: 80px;
                        font-size: 16px;
                        font-weight: 500;
                        color: #252B3A;
                        text-align: center;
                    } 
                }
    
            }
            .ant-tabs-tab-active {  
                .tab-title {
                  color: #3D81FA !important;
                }
            }
            .ant-tabs-bar {
                border: none;
            }
            .ant-tabs-ink-bar{
                background: transparent;
            }
            .ant-tabs-tab-prev-icon-target, .ant-tabs-tab-next-icon-target {
                font-size: 20px !important;
                font-weight: 600 !important;
            }
            .ant-tabs-nav-container-scrolling{
              padding-left: 0;
              padding-right: 0;
            }
            .ant-tabs-content{
              background: #F8FAFD;
            }
          }
          .showTanel{
            display: block;
          }
          .hideTanel{
            display: none;
          }
        }
        .activeTab{
          height: 678px;
          overflow: auto;
          .ant-tabs-nav-wrap{
            margin-top: 514px !important;
          }
          .ant-tabs-content{
            margin-top: -678px !important;
          }
        } 
        .captionShow{
          width: 1200px;
          margin: 0 auto;
          .captionItem{
            display: flex;
            justify-content: space-between;
            align-items: center;
              .captionText{
                padding-left: 20px;
                h4{
                  color: #252B3A;
                  font-size: 32px;
                  font-weight: 500;
                  margin-bottom: 16px;
                }
                p{
                    width: 468px;
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.65);
                    line-height: 1.8;
                }

              }
              .caption-img{
                width: 680px;
                height: 512px;
                margin-left: 60px;
                img{
                  margin: 0 15px;
                  display: inline-block;
                  height: 100%;
                }
              }
              #imageSwiper{
                width: 680px;
                height: 512px;
                margin-left: 60px;
                .swiper-slide{
                  width: 100%;
                  height: 100%;
                  img{
                    margin: 0 10px;
                    display: inline-block;
                    height: 100%;
                  }
                }
                .swiper-pagination-bullets{
                  z-index: 999;
                  bottom: 40px;
                  left: 16px;
                }
              }
          }
      }
    }
    .cooperative-partner {
      padding-bottom: 88px;
      .cooperative{
        width: 100%;
        margin: 56px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        // .user-img-h5{ display: none; }
        // .user-img{
        //   display: inline-block;
        //   height: 348px;
        // }
        .cooperative-left,.cooperative-right{
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          // font-size: 0;
        }
      }
      .more-button{
        width: 1200px;
        text-align: center;
        margin: 0 auto;
        .see-more {
          cursor: pointer;
          border-radius: 2px;
          padding: 8px 20px;
          line-height: 38px;
          font-size: 16px;
          color: #3D81FA;
          &:hover {
            border: 1px solid #3D81FA;
          }
          .arrow {
            margin-left: 15px;
          }
        }
      }
    }
    .back-color{
        width: 100%;
        background:rgba(61,129,250,0.04);
    } 
}
@media (max-width: 768px) {
  .home{
    #bannerSwiper {
      .swiper-1,.swiper-2,.swiper-3{
        background: none;
      }
			.swiper-pagination-custom {
				bottom: 10px;
			}
			.swiper-pagination-customs {
        .customs-item{
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
			}
    }
    p.con-caption{
      max-width: 100%;
      margin: 18px auto 24px auto;
      text-align: justify;
    }
    .engineFunction{
      padding: 32px 24px;
      p.con-caption{
        max-width: 100%;
        margin: 18px auto 24px auto;
        font-size: 16px;
        text-align: justify;
      }
      .standardTab{
        display: none;
      }
      .standH5Tab{
        display: block;
          .ant-tabs-nav-wrap{
            width: 100%;
            margin: 0 auto;
          }
          .ant-tabs-tab{
            width: 80px;
            margin-right: 10px;
            padding: 12px 0;
            &:last-child{
              margin-right: 0;
            }
            .ant-tabs-nav{
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .tabshow {
                margin: 0 auto;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .tab-bg{
                    width: 60px;
                    height: 60px;
                    position: relative;
                }
                .tab-img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 50px;
                    height: 50px;
                }
                .tab-title {
                    width: 80px;
                    max-width: 80px;
                    margin: 0 auto;
                    font-size: 12px;
                    font-weight: 400;
                    color: #353A59;
                    // text-align: center;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                } 
            }
  
            .ant-tabs-tab-active {  
              .tab-title {
                color: #3D81FA !important;
              }
            }
          .ant-tabs-bar {
              margin-bottom: 30px;
              border: none !important;
          }
          .ant-tabs-ink-bar{
              background: transparent;
          }
          .ant-tabs-nav-container-scrolling {
            padding-right: 20px;
            padding-left: 20px;
          }
          .ant-tabs-tab-prev.ant-tabs-tab-arrow-show, .ant-tabs-tab-next.ant-tabs-tab-arrow-show{
            width: 20px !important;
          }
          .ant-tabs-tab-prev-icon-target, .ant-tabs-tab-next-icon-target {
              font-size: 18px !important;
              font-weight: 600 !important;
          }
          .ant-tabs-content{
            background: #F8FAFD;
          }
        }
        
      }
      .captionShow{
        width: 100%;
        margin: 0 auto;
        .captionItem{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .captionText{
              margin-top: 20px;
              padding-left: 0px;
              h4{
                font-size: 22px;
                font-weight: 500;
                text-align: center;
              }
              p{
                  width: 100%;
                  font-size: 16px;
                  text-align: justify;
                  margin-bottom: 0;
              }

            }
            .caption-img{
              width: 100%;
              height: auto;
              max-height: 280px;
              margin-left: 0;
              img{
                margin: 0;
                width: 100%;
              }
            }
            #imageSwiper{
              width: 100%;
              height: 320px;
              margin-left: 0px;
              .swiper-slide{
                width: 100%;
                height: 100%;
                img{
                    margin: 0;
                    width: 100%;
                    height: 100%;
                  }
              }
              .swiper-pagination-bullets{
                z-index: 999;
                bottom: 0px;
                left: 0px;
              }
            }
        }
    }
    }
    .cooperative-partner {
      padding-bottom: 46px;
      .cooperative{
        width: 100%;
        margin: 16px 0 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // .user-img{
        //   display: none;
        // }
        // .user-img-h5{
        //   display: inline-block;
        //   height: 200px;
        // }
        .cooperative-left,.cooperative-right{
          flex: 1;
          img{
            width: 50%;
            height: 50%;
          }
        }
      }
      .more-button{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        .see-more {
          cursor: pointer;
          border-radius: 2px;
          padding: 6px 12px;
          line-height: 26px;
          font-size: 14px;
          color: #3D81FA;
          border: 1px solid #3D81FA;
          .arrow {
            margin-left: 12px;
          }
        }
      }
    }
  }
}