.cases{
    width: 100%;
    background: #fff;
    overflow: hidden;
    .caseItems{
      padding: 88px 0 32px 0;
      p.con-caption{
        max-width: 850px;
        margin: 24px auto 30px auto;
        text-align: center;
      }
      .case-tab {
        min-width: 1200px;
        .ant-tabs-nav {
          width: 375px;
          left: 50%;
          margin-left: -187.5px;
          .ant-tabs-tab {
            padding: 18px 0;
            margin: 0 62px;
            font-size: 16px;
            font-weight: 500;
            color: #374567;
            line-height: 22px;
          }
        }
      }
      .ant-tabs-bar,.ant-tabs-top-bar {
        border: none;
        box-shadow:0 1px 4px 0 rgba(0,0,0,0.06);
      }
      .ant-tabs-ink-bar,.ant-tabs-ink-bar-animated{
        height: 3px;
      }
      .case-list {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &:after {
          content: "";
          width: 374px;
        }
        li.item {
          width: 374px;
          height: 308px;
          margin-bottom: 48px;
          box-shadow: 0 6px 20px 0 rgba(0,0,0,0.1);
          border-radius:2px;
          .img {
            display: inline-block;
            width: 100%;
            height: 248px;
          }
          .title {
            width: 100%;
            height: 60px;
            padding: 0 30px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              color: #252B3A;
              font-size: 18px;
              font-weight: 400;
              text-align: center;
              margin: 1em 0;
            }
          }
          .img-bg,.detail{
            display: none;
          }
          
          &:hover{
            position: relative;
            cursor: pointer;
            .img-bg{
              display: block;
              position: absolute;
              border-radius:2px;  
              left: 0;
              top:0;
              width: 100%;
              height: 248px;
              background: rgba(0,0,0,0.7);
              z-index: 99;
            }
            .detail{
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              padding: 30px;
              color: #fff;
              z-index: 100;
              p{
                  width: 100%;
                  font-size: 14px;
                  line-height: 20px;
                  font-weight:400;
                  margin-bottom: 20px;
                  text-align: justify;
              }
            }
          }
        }

      }
    }
   
   
}

@media (max-width: 768px) {
  .cases{
    width: 100%;
    .caseItems{
      padding: 32px 0;
      p.con-caption{
        max-width: 100%;
        font-size: 16px;
        padding:0 24px;
        margin: 18px auto 24px auto;
        text-align: justify;
      }
      .case-tab {
        min-width: 100%;
        width: 100%;
        .ant-tabs-nav {
          width: 50%;
          left: 50%;
          margin-left: -25%;
          .ant-tabs-tab {
            margin: 0 20px;
          }
        }
      }
      .case-list {
        padding: 0 24px;
        margin-top: 20px;
        &:after {
          width: 100%;
        }
        li.item {
          list-style: none;
          width: 100%;
          height: auto;
          margin-bottom: 32px;
          box-shadow: 0 4px 26px 0 rgba(0,0,0,0.1);
          border-radius: 6px;
          pointer-events: none;
          .img {
            display: inline-block;
            width: 100%;
            height: auto;
            border-radius: 4px 4px 2px 2px;
          }
          .title {
            width: 100%;
            height: auto;
            padding: 0 30px;
            margin-top: 18px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              color: #353A59;
              font-size: 16px;
              line-height: 25px;
              text-align: center;
              margin: 0;
            }
          }
          .detail{
            display: block;
            padding: 12px 18px;
            color: #353A59;
            p{
                width: 100%;
                font-size: 14px;
                line-height: 20px;
                font-weight:400;
                margin-bottom: 12px;
                text-align: justify;
            }
          }  
        }
      }   
    }
  }
}
   
   