.loading-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
    img{
        display: inline-block;
        // width: 400px;
        height: 265px;
    }
    .ant-spin{
        color: #fff;
    }
    .ant-spin-dot {
        font-size: 45px;
        .ant-spin-dot-item {
            opacity: 0.85;
            background-color: #fff;
        }
    }
    .ant-spin.ant-spin-show-text .ant-spin-text {
        color: #fff;
        font-weight: 500;
        margin: 15px;
    }
    .line-wrapper{
        .k-line{
            display: inline-block;
            width: 15px;
            height: 20px;
            background-color: #3D81FA;
            border-radius: 20px;
            margin-right: 10px;
        }
    }
    .k-line-1{
        animation: loadingFrame 1.5s 0s infinite;
        -webkit-animation: loadingFrame 1.5s 0s infinite;
    }
    .k-line-2{
        animation: loadingFrame 1.5s 0.2s infinite;
        -webkit-animation: loadingFrame 1.5s 0.2s infinite;
    }
    .k-line-3{
        animation: loadingFrame 1.5s 0.4s infinite;
        -webkit-animation: loadingFrame 1.5s 0.4s infinite;
    }
    .k-line-4{
        animation: loadingFrame 1.5s 0.6s infinite;
        -webkit-animation: loadingFrame 1.5s 0.6s infinite;
    }
    .k-line-5{
        animation: loadingFrame 1.5s 0.8s infinite;
        -webkit-animation: loadingFrame 1.5s 0.8s infinite;
    }

    @keyframes loadingFrame {
        0%{
            height: 20px; 
        }
        // 25%{
        //     height: 30px; 
        // }
        50%{
            height: 40px;
        }
        // 75%{
        //     height: 30px; 
        // }
        100%{
            height: 20px;
        }
    }
}
