.function{
    width: 100%;
    background: #F8FAFD;
    overflow: hidden;
    .function-container{
      width: 1200px;
      margin: 84px auto 44px auto;
      box-sizing: border-box;
      overflow: hidden;
      .func-collapse{
        display: none;
      }
      .func-anchor{
        position: relative;
        display: block;
        width: 100%;
        overflow-y: auto;
        .ant-anchor-wrapper{
          overflow: hidden;
        }
        .anchor-left{
          position: absolute;
          top: 0;
          float: left;
          width: 180px;
          background: #F8FAFD;
          .ant-anchor{
            width: 100%;
            .ant-anchor-link{
                width: 100%;
                height: 56px;
                padding: 0 20px;
                line-height: 56px;
                text-align: left;
                border-right: 1px solid #E3ECFF;
                border-bottom: 1px solid #E3ECFF;
                box-sizing: border-box;
              a.ant-anchor-link-title{
                color: #374567;
                font-size: 16px;
                font-family: 500;
              }
              a.ant-anchor-link-title::before {
                content: url('../../common/img/function/oval.png');
                width: 6px;
                height: 6px;
                margin-right: 15px;
              }
            }
            .ant-anchor-link:first-child{
                border-top: 1px solid #E3ECFF !important;
            }
            
            .ant-anchor-ink,.ant-anchor-ink::before{
              display: none;
            }
            .ant-anchor-ink-ball.visible {
              display: none;
            }
            .ant-anchor-link-active{
              border-right: 2px solid #3D81FA;
              color: #3D81FA;
              background: #fff;
              a.ant-anchor-link-title::before {
                content: url('../../common/img/function/oval_select.png');
              }
            }
          }
        }
        .pos-relative{
          position: relative;
          top: 0;
        }
        .pos-fixed{
          position: fixed;
          top: 80px;
        }
        .active{
          color: turquoise;
        }
        .anchor-right{
          float: right;
          max-width: 1000px;
          padding-left: 50px;
          .con-wrapper{
            width: 100%;
            margin-bottom: 75px;
            .con-title{
              text-align: left;
              font-size: 32px;
              font-weight: 500;
              color: #374567;
              line-height: 45px;
            }
            .con-caption{
              max-width: 950px;
              font-size: 20px;
              font-weight: 400;
              color: #374567;
              line-height: 34px;
              margin: 18px 0 12px 0;
            }
            .con-img{
              margin: 20px 0;
              display: inline-block;
              max-width: 950px;
              border-radius: 4px;
              box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
              height: auto;
            }
          }
        }
      }
  }
}
@media (max-width: 768px) {
  .function{
    background: #fff;
    .function-container{
      width: 100%;
      padding: 0 20px;
      margin: 16px auto 32px auto;
      .func-anchor{
        display: none;
      }
      .func-collapse{
        display: block;
        margin-top: 16px;
        .ant-collapse-borderless {
            background-color: #ffffff;
        }
        .ant-collapse > .ant-collapse-item {
            border-bottom: none;
            margin-bottom: 16px;
            box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.06);
            .ant-collapse-header {
              color: #252B3A;
              font-size: 16px;
              padding: 12px 0 12px 20px;
              padding-right: 30px;
            }
        }
        .con-wrapper{
          width: 100%;
          padding: 30px 20px;
          .con-title{
            text-align: center;
            font-size: 28px;
            margin-bottom: 24px;
          }
          .con-caption{
            width: 100%;
            text-align: justify;
            line-height: 1.5;
            font-size: 16px;
          }
          .con-img{
            margin: 15px 0;
            display: inline-block;
            width: 100%;
            height: auto;
            box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.06);
            border-radius: 4px 4px 1px 1px;
          }
        }
        .ant-collapse-content > .ant-collapse-content-box {
            padding: 0;
        }
      }
    }
  }
}
   
   