.modelSection {
    position: absolute;
    bottom: 220px;
    right: 10px;
    width: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    .sel-header{
        padding: 10px 15px;
        color: #262626;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        .sel-minus{
            cursor: pointer;
        }
        .sel-close{
            cursor: pointer;
            margin-left: 10px;
        }
    }
    .sel-content{
        .sel-btns{
            padding: 8px 5px;
            .option-img{
                display: inline-block;
                width: 32px;
                height: 32px;
                cursor: pointer; 
                color: #333;
                i{
                    font-size: 30px;
                    height: 30px;
                    &:hover{
                        color:#3D81FA;
                    }
                }
            }
            .btn-selected{
                color:#3D81FA;
            }
        }
        .sel-section{
            margin: 8px 15px;
            .sel-item{
                span{
                    display: inline-block;
                    font-size: 13px;
                }
                .ant-slider{
                    width: 130px;
                    .ant-slider-handle {
                        width: 12px;
                        height: 12px;
                        margin-top: -4px;
                    
                    }
                }
                
            }
            .ant-radio-wrapper{
                margin-right: 12px;
            }
            .ant-radio-wrapper:last-child{
                margin-right: 0;
            }
        }
        .sel-axis{
            padding: 10px 0;
            .ant-radio-wrapper{
                margin-right: 30px;
            }
        }
        
    }
    
}
