       
.model-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 999;
  color: #fff;
  background: #20273E;
  .model-wrapper {
    width: 100%;
    height: 100%;
    margin-left: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .model-front {
        .model-logo {
          display: inline-block;
          height: 38px;
          transition-duration: .5s;
        }
        .model-name{
          display: inline-block;
          max-width: 500px;
          margin-left: 10px;
          color: #fff;
          font-size: 14px;
          font-weight: 500;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
    }
    .model-select{
      margin-left: 28px;
      
    }
  }

}
@media (max-width: 768px) {
.model-header {
  .model-wrapper {
    margin-left: 16px;
    .model-front {
      .model-logo {
        height: 28px;
      }
      .model-name{
        max-width: 180px;
        margin-left: 10px;
        font-size: 13px;
        font-weight: 400;
      }
    }
    .model-select{
      margin-left: 10px;
    }
    .ant-select-selection--single {
      height: 28px;
    }
    .ant-select-selection__rendered {
      line-height: 28px;
    }
  }
 }
}
