#model-search-wrapper{
    z-index: 100;
    width: 480px;
    height: 530px;
    position: fixed;
    top: 0;
    left: 0;
    .ant-modal-wrap{
      width: 100%;
      height: 100%;
      overflow: hidden;
      .ant-modal{
        top: 0;
        padding-bottom: 0;
      }
    }
}
#search-entity-rnd-box{
    z-index: 101;
    width: 600px;
    height: 530px;
    position: fixed;
    top: 0;
    left: 0;
    .ant-modal-wrap{
      width: 100%;
      height: 100%;
      overflow: hidden;
      .ant-modal{
        top: 0;
        padding-bottom: 0;
      }
    }
}
.model-entity-search{
    padding-top: 10%;
   .ant-modal-body {
     padding-bottom: 0px;
   }
    .ant-input{
      width: 430px;
      height: 40px;
      margin-bottom: 12px;
    }
    .ant-row{
      font-weight: 400;
      color: rgba(0, 0, 0, 0.65);
      margin-bottom: 12px;
    }
}
.model-search-result{
    .ant-modal-body {
        padding: 16px;
    }
    .result-header{
        display: flex;
        justify-content: space-between;
        padding: 0 2px 12px 2px;
        .locate-all{
            border: 1px solid #d9d9d9;
            height: 32px;
            line-height: 32px;
            font-weight: 400;
            background: #fff;
            color: rgba(0,0,0,0.65);
            padding: 0 15px;
            border-radius: 4px;
            user-select: none;
            display: inline-block;
            text-align: center;
            white-space: nowrap;
        
            transform: translateZ(0);
            &:hover{
            color: #3D81FA;
            border-color: #3D81FA;
            }
        }
    }
    .result-table{
        border:1px solid #d9d9d9;
        box-sizing: border-box;
        border-radius: 4px;
        background: #fff;
        height:324px;
        overflow: auto;
        .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
            padding: 12px;
        }
        .ant-table-placeholder {
            border-bottom: none;
        }
        .ant-table-pagination.ant-pagination {
            margin: 10px;
        }
        .location,.detail{
            width: 18px;
            height: 18px;
            img{
                display: inline-block;
                width:100%;
                height:100%;
            }
        }
        .location:hover{
            cursor: pointer;
        }
    }
}
.model-entity-list{
    .ant-modal-body {
        height:488px;
        overflow: auto;
    }
}
