#menuWrapper{
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, 0);
    box-sizing: border-box;
    z-index: 8;
    white-space: nowrap;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    .tool-button {
        display: inline-block;
        color: #fff;
        padding: 6px;
        cursor: pointer;
        color: #333;
        &>span{
            display: inline-block;
            height: 40px;
        }
        i{
            font-size: 40px;
            height: 40px;
            &:hover{
                color:#3D81FA;
            }
        }
        .btn-selected{
            color:#3D81FA;
            background: rgba(61,129,250,.1)!important;
        }
    }
}
.ant-menu-root.ant-menu-vertical{
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
.ant-menu-vertical .ant-menu-item:not(:last-child){
    margin-bottom: 0px;
}
.subMenu{
    display: inline-block;
    color:#333;
    cursor: pointer;
    .subMenu-img{
        display: inline-block;
        vertical-align: bottom;
        font-size: 36px;
        width: 32px;
        height: 32px;
        margin-right: 0;
        &:hover{
            color:#3D81FA;
        }
    }
    .subMenu-text{
        display: inline-block;
        vertical-align: middle;
        font-size: 14px; 
    }  
    .selected{
        color:#3D81FA;
    }
    &:hover{
        color:#3D81FA;
    }
}


@media (max-width: 768px) {
    #menuWrapper{
        bottom: 10%;
    }
}
