.linkage{
    width: 100%;
    height: 100%;
    .posLinkageHeader{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        z-index: 999;
        background: #20273E;
        .text-header{
            height: 100%;
            margin-left: 32px;
            p{
                font-size: 14px;
                color: #fff;
            }
        }
        .btn-header{
            margin-right: 32px;
            .btn-item{
              margin-left: 20px;
            }
          }
    }
    .linkage-content{
        position: absolute;
        width: 100%;
        height: 100%;
        .layout-split{
          position: absolute;
          top: 60px;
          left: 0;
          width: calc((100% - 300px)/2);
          height: calc(100vh - 60px);
        }
        .layout-normal{
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          height: calc(100vh - 60px);
        }
        .drawerWidth{
          position: absolute;
          top: 60px;
          left: 0;
          width: calc(100% - 300px);
          height: calc(100vh - 60px);
        }
        .layout-linkage{
          position: absolute;
          top: 60px;
          left: 0;
          width: calc(100% / 2);
          height: calc(100vh - 60px);
        }
    }
    .linkage-drawer{
      position: absolute;
      right: 0;
      width: 300px;
    }
    .drawer-hide{
      position: absolute;
      right: 0;
      width: 0px;
    }
    .ant-drawer{
      .ant-drawer-content {
          padding-top: 60px;
      }
      .ant-tree li {
        span.ant-tree-switcher{
          width: 10px;
        }
        .ant-tree-node-content-wrapper{
          padding: 0 15px;
          .section-item{
            i{
              font-size: 20px;
              color: #333;
            }
          }
        }
      }
      
    }
    .linkage-drawing-layout{
      z-index: 99;
      .drawing-center{
          .header-2D{
              background-color: #fff;
              width: 100%;
              height: 55px;
              padding: 0 20px;
              box-sizing: border-box;
              border-bottom: 1px solid #e8e8e8;
              .draw-2D{
                  float: left;
                  margin-top: 12px;
                  font-size: 14px;
                 .draw-version{
                   display: inline-block;
                   color: #3d81fa;
                   border: 1px solid #3d81fa;
                   box-sizing: border-box;
                   padding: 5px 8px;
                   margin-right: 10px;
                   border-radius: 2px;
                 } 
                 .draw-name{
                     display: inline-block;
                     color: #333;
                 }
              }
              .btn-2D{
                  margin-top: 15px;
                  float: right;
                  font-size: 16px;
                  .screen-btn,.close-btn{
                      cursor: pointer;
                  }
                  .screen-btn{
                      margin-right: 12px;
                      
                  }
              }
  
          }
          .container-2D{
              width: 100%;
              height: 350px;
              .linkage-loading-process{
                  position: absolute;
                  left:45%;
                  top:50%;
                  width:3%;
                  height:3%;
                  transform: translate(-45%, -50%);
                  z-index: 99;
                  .ant-progress-inner{
                    width: 90px !important;
                    height: 90px !important;
                  }
                  .ant-progress-circle .ant-progress-text {
                      color: rgb(16, 142, 233);
                  }
              }
          }
      }
    }
    .drawing-small{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 500px;
      height: 500px;
      .drawing-center{
        .container-2D{
            width: 500px;
            height: calc(100% - 50px);
        }
      }
    }
    .drawing-split{
        position: fixed;
        top: 60px;
        right: 300px;
        width: calc((100% - 300px)/2);
        height: calc(100vh - 60px);
        box-sizing: border-box;
        border-right: 1px solid #e8e8e8;
        .drawing-center{
          .container-2D{
              width: 100%;
              height: calc(100% - 50px);
          }
        }
    }
    .drawing-linkage{
      position: absolute;
      top: 60px;
      right: 0;
      width: calc(100% / 2);
      height: calc(100vh - 60px);
      box-sizing: border-box;
      border-right: none;
      .drawing-center{
        .container-2D{
            width: 100%;
            height: calc(100% - 50px);
        }
      }

    }
    .model-setting-wrapper{
      position: absolute;
      top: 60px;
      left: 0px;
      z-index: 100;
      .model-setting{
          width: 200px;
          height: 80px;
          background: hsla(0,0%,100%,.95);
          padding: 20px;
          border-radius: 4px;
      }

    }
    .bottomOperate{
      position: absolute;
      bottom: 0;
      width: 100%;
      border-top: 1px solid #e8e8e8;
      padding: 10px 16px;
      text-align: center;
      left: 0;
      background: #fff;
    }
     //位置联动
    .positionLinkContent{
      .positionLinkList{
          .positionLinkContent{
              ul{
                  width: 100%;
                  li{
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                      padding: 8px 20px;
                      border: 1px solid #efefef;
                      border-radius: 2px;
                      margin-bottom: 8px;
                      .item-top{
                          font-size: 12px;
                          margin-bottom: 5px;
                         .draw-version{
                           display: inline-block;
                           color: #3d81fa;
                           border: 1px solid #3d81fa;
                           box-sizing: border-box;
                           padding: 0px 6px;
                           margin-right: 10px;
                           border-radius: 2px;
                         } 
                         .draw-name{
                             display: inline-block;
                             color: #333;
                             font-size: 14px;
                         }
                      }
                      .item-bottom{
                          .bottom-name{
                              display: inline-block;
                              color: #333;
                              max-width: 165px;
                          }
                          .bottom-icon{
                             font-size: 16px;
                              cursor: pointer;
                          }
                          .location{
                            margin-right: 10px;
                        }

                      }
                  }
                  .selectedItem{
                    // border: 1px solid #3d81fa;
                    background: rgba(61, 129, 250, 0.1);
                  }
              }
          }
      }
      .positionLinkOperate{
          .linkModelHeader{
              margin-bottom: 20px;
              .draw-version{
                  display: inline-block;
                  color: #3d81fa;
                  border: 1px solid #3d81fa;
                  box-sizing: border-box;
                  padding: 5px 8px;
                  margin-right: 10px;
                  border-radius: 2px;
                } 
                .draw-name{
                    display: inline-block;
                    color: #333;
                }
          }
          .linkModelBottom{
              margin-top: 120px;
          }
      }

  }
}
.saveModelContent{
    .saveItem{
        margin-bottom: 12px;
    }
    .draw-info{
        font-size: 14px;
        .draw-version{
          display: inline-block;
          color: #3d81fa;
          border: 1px solid #3d81fa;
          box-sizing: border-box;
          padding: 2px 8px;
          margin-right: 8px;
          border-radius: 2px;
        } 
        .draw-name{
            display: inline-block;
            color: #333;
        }

    }
}


