.modelTest{
    .layout{
        position: absolute;
        width: 100%;
        height: 100%;
        .layout-loading-process{
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%, -50%);
            z-index: 999;
            background: rgba(255, 255, 255, 0.38);
            border-radius: 16px;
            padding: 30px 40px 10px 40px;
            text-align: center;
            // .ant-spin-dot {
            //     font-size: 45px;
            //     .ant-spin-dot-item {
            //         opacity: 0.35;
            //     }
            // }
            // .ant-spin.ant-spin-show-text .ant-spin-text {
            //     margin: 15px;
            // }
        }
    }
    
}