       
.model-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  z-index: 1000;
  color: #fff;
  background: #20273E;
  .model-wrapper {
    margin-left: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .model-front {
        .model-logo {
          display: inline-block;
          height: 38px;
          transition-duration: .5s;
        }
        .model-name{
          margin-left: 10px;
          color: #fff;
          font-size: 18px;
          font-weight: 500;
        }
        .model-version{
          display: inline-block;
          margin-left: 15px;
          width: 50px;
          height: 32px;
          line-height: 32px;
          color: #fff;
          text-align: center;
          border-radius: 2px;
          background-color: #3d81fa;
        }
        .model-text{
          display: inline-block;
          margin-left: 15px;
        }
    }
    .model-select{
      margin-left: 28px;
    }
    .model-btns{
     
      span{
        display: inline-block;
      }
      .btn-item{
        margin-left: 20px;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        i{
          font-size: 24px;
          color: #fff;
          vertical-align: middle;
        }
        &:hover{
          color: #3d81fa;
          i{
            color: #3d81fa;
          }
        }
      }
      .select-item{
        color: #3d81fa;
        i{
          color: #3d81fa;
        }
      }
      .foldIcon{
        display: inline-block;
        height: 20px;
        line-height: 24px;
        margin-left: 20px;
        padding-left: 20px;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        i{
          cursor: pointer;
          color: #fff;
          font-size: 20px;
        }

      }
    }
    .hasFold{
      margin-right: 32px;
    }
    .noFold{
      margin-right: 32px;
    }
  }

}
