.modelRoaming {
    position: absolute;
    top: 90px;
    right: 10px;
    width: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    .roam-operate{
        padding: 8px 0;
        .option-img{
            display: inline-block;
            width: 40px;
            height: 40px;
            color: #333;
            cursor: pointer; 
            i{
                font-size: 40px;
                height: 40px;
                &:hover{
                    color:#3D81FA;
                }
            }
        }
        .btn-selected{
            color:#3D81FA;
            background: rgba(61,129,250,.1)!important;
        }
    }
    .speed-wrapper{
        position: absolute;
        top: 30px;
        right: 36px;
        width: 60px;
        height: 120px;
        span{
            color: #3D81FA;
        }
        .ant-slider{
            margin-top: 20px;
        }
    }
    
}
.roamtips-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.55);
    z-index: 9999;
    .roamtips-content{
        width: 600px;
        .tip-item{
            display: inline-block;
            width: 280px;
            height: 192px;
            margin-right: 16px;
            margin-bottom: 16px;
        }
        .tip-button{
            margin-top: 10px;
            width: 110px;
            height: 42px;
            text-align: center;
            margin-left: 240px;
        }
    }

}
