.BIMInternet-content{
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    top: 60px;
    .bim-wrapper{ 
      width: 100%;
      height: 100%;
    }
    .drawerWidth{
      width: calc(100% - 300px);
    }
    .fullWidth{
      width: 100%;
    }
    .drawer-wrapper{
      width: 300px;
      .bimSenceWrapper{
        .ant-drawer{
          .ant-drawer-body{
            height: calc(100% - 60px);
            overflow: hidden;
          }
          .ant-drawer-content {
              padding-top: 60px;
          }
        }
        .bimSenceContent{
            height: 100%;
            overflow-y: auto;
            padding: 0 6px;
            .roomList{
              .roomContent{
                .section-item{
                  padding: 10px 16px;
                  border-radius: 4px;
                  margin-bottom: 15px;
                  i{
                    cursor: pointer;
                    font-size: 20px;
                  }
                  &:hover{
                    background: rgba(61, 129, 250, 0.1);
                    i{
                      color: #3d81fa;
                    }
                  }
                }
              }

            }
            .pushpinList{
              .pushpinContent{
                .section-item{
                  // padding: 10px 16px;
                  border-radius: 4px;
                  margin-bottom: 15px;
                  i{
                    cursor: pointer;
                    font-size: 20px;
                  }
                  &:hover{
                    background: rgba(61, 129, 250, 0.1);
                    i{
                      color: #3d81fa;
                    }
                  }
                }
              }
            }
        }
      }
      
    }
    .unSelectedItem{
      background: #efefef;
    }
    .selectedItem{
      background: rgba(61, 129, 250, 0.1);
      i{
        color: #3d81fa;
      }
    } 
}
