.changeLog{
    width: 100%;
    min-height: 400px;
    background: #F8FAFD;
    overflow: hidden;
    .changeLog-list{
        .log-container{
            width: 1200px;
            margin: 32px auto;
            overflow: hidden;
            background: #FFF;
            border: 1px solid #E1E6F0;
            .log-header{
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0 64px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                .log-title{
                    padding: 24px 0;
                    font-size: 22px;
                    font-weight: 500;
                    color: #2B2B2B;
                    line-height: 20px;
                    margin-bottom: 0 !important;
                }
                .log-date{
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 500;
                    color: #8992A6;
                }
                .log-line{
                    position: absolute;
                    display: block;
                    width: 280px;
                    height: 2px;
                    border: none;
                    background-color: #3D81FA;
                    bottom: -8px;
                }
            }
            .log-content{
                position: relative;
                padding: 24px 0 0 64px;
                display: flex;
                justify-content: space-between;
                .log-text{
                    max-width: 800px;
                    min-height: 280px;
                    padding-right: 10px;
                    font-size: 14px;
                    color: #2B2B2B;
                    overflow: hidden;
                    text-align: justify;
                    line-height: 1.5;
                    margin-bottom: 24px;
                }
                .log-image{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: inline-block;
                    width: 278px;
                    height: 278px;
                }
                .show-more{
                    margin-bottom: 40px;
                    .show-more-text{
                        font-size: 14px;
                        color: #3D81FA;
                        cursor: pointer;
                    }
                    .show-more-button{
                        font-size: 14px;
                        color: #3D81FA;
                        margin-left: 4px;
                    }
                }
            }
        }

    }
    .log-pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
.ant-pagination{
    margin-bottom: 56px;
}
@media (max-width: 768px) {
    .changeLog{
        .changeLog-list{
            padding: 30px 24px;
            .log-container{
                width: 100%;
                margin: 0 auto 20px auto;
                .log-header{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin: 0 24px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    .log-title{
                        padding: 24px 0 5px 0;
                        font-size: 18px;
                        line-height: 26px;
                        margin-bottom: 0;
                        border-bottom: none;
                    }
                    .log-date{
                        line-height: 20px;
                        margin-bottom: 15px;
                    }
                    .log-line{
                        width: 100px;
                    }
                }
                .log-content{
                    padding: 20px 24px;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    .log-show{
                        width: 100%;
                    }
                    .log-text{
                        max-width: 100%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        text-align: justify;
                        line-height: 1.5;
                        margin-bottom: 20px;
                    }
                    .log-image{
                       display: none;
                    }
                    .show-more{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        margin-bottom: 30px;
                        .show-more-text{
                            text-align: center;
                        }
                    }
                }

            }
        }
    }
}

