@title-color:#252B3A; //标题 颜色
@title-size: 32px;//标题 大小
@text-color:#575D6C;//内容文字 颜色
@text-size: 16px; //内容文字 大小
.verticalLayout{
    width: 100%;
    padding-top: 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    img{
        display: inline-block;
        width: 1169px;
        height: auto;
        margin-top: 24px;
    }
}

@media (max-width: 768px) {
    .verticalLayout{
        width: 100%;
        padding: 32px 24px;
        h2{
            font-size: 26px;
            line-height: 1.5;
        }
        p{
            text-align: justify;
            margin: 20px auto 28px auto;
        }
        img{
            max-width: 100%;
            height: auto;
        }
    }
}