.head-steps {
    margin: 20px auto;
    // padding: 2px 20px;
    // background: rgba(242, 247, 255, 1);
    // border-radius: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    .head-step-tool-item {
      display: inline-block;
      .head-step-tool-item-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        color: white;
        background: rgba(199, 198, 206, 1);
        text-align: center;
        line-height: 20px;
        border-radius: 20px;
      }
      .head-step-tool-item-title {
        display: inline-block;
        height: 20px;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.45);
        line-height: 20px;
        margin-left: 12px;
      }
      .head-activity-icon {
        background: rgba(61, 129, 250, 1);
      }
      .head-activity-title {
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
      }
    }
    .head-step-tool-space {
      margin: 12px 24px;
    }
  }