.horizontalLayout {
     padding: 64px 0;
     .layoutH5{
       display: none;
     }
     .layoutPc{
      .word-show {
        width: 460px;
        height: 370px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        .title {
          text-align: left;
          font-size: 34px;
          color: #353a59;
          margin-bottom: 20px;
          font-weight: 400;
        }
        .describe {
          max-width: 800px;
          color: #5e6495;
          font-size: 16px;
          line-height:27px;
        }
      }
      .img-show{
        display: inline-block;
        width: 600px;
        height: 400px;
        -webkit-box-shadow: 0px 4px 16px 0px rgba(78, 77, 77, 0.25);
        box-shadow:0px 4px 16px 0px rgba(78, 77, 77, 0.25);
        border-radius: 4px;
  
      }
      .rightword{
        .word-show {
          margin-left: 18%;
        }
      }

     }
}
.hasBg{
  width: 100%;
  background:rgba(61,129,250,0.04);
}

@media (max-width: 768px) {
  .horizontalLayout{
    padding: 32px 24px;
    .layoutPc{
      display: none;
    }
    .layoutH5{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        h2.lay-title{
            width: 100%;
            line-height: 1.5;
            font-size:26px;
        }
        p.lay-caption{
          text-align:justify;
          margin: 20px 0 28px 0;
        }
        img{
          max-width: 100%;
          height: auto;
         
        }
    }
  }
  
}