.model-setting-wrapper{
  .ant-modal-body{
    padding-bottom: 0;
  }
  .model-setting-moudle{
    .ant-row{
      font-weight: 400;
      color: rgba(0, 0, 0, 0.65);
      margin-bottom: 12px;
    }
    #set-Colors-wrapper{
      margin-left: 5px;
      .ant-select{
        .color-item{
          height: 28px;
          width: 120px;
          border-radius: 4px 0px 0px 4px;
          position: absolute;
          left: -7px;
          top: 0px;
          &>div{
            width: 100%;
            height: 26px;
            border-radius: 4px 0px 0px 4px;
          }
          &>img{
            display: inline-block;
            width: 100%;
            height: 26px;
            border-radius: 4px 0px 0px 4px;
          }
        }
      }
      .ant-select-selection--single {
        height: 28px;
     }
      .ant-select-dropdown{
          .color-item-wrapper{
             display: flex;
             justify-items: flex-end;
             align-items: center;
            .color-item{
              width: 42px;
              height: 32px;
              border: 1px solid #eee;
              padding: 1px;
              background: #fff;
              margin: 4px 15px;
              &>div{
                width: 100%;
                height: 28px;
              }
              &>img{
                display: inline-block;
                width: 100%;
                height: 28px;
              }
              
          }
          .color-text{
            font-size: 14px;
          }

        }
        .ant-select-dropdown-menu {
          max-height: 200px;
        }
        .ant-select-dropdown-menu-item-group-title {
          color: #333;
          font-size: 14px;
        }
        .ant-select-dropdown-menu-item{
          padding: 0 3px;
          &.ant-select-dropdown-menu-item-active{
            .color-item{
              border-color: #3D81FA!important;
            }
            .color-text{
              color: #3D81FA!important;
            }
          }
        }
      }
    }

  }
  
    
}
