.guide{
    width: 100%;
    height: 100%;
    .guide-wrapper{
        width: 100%;
        height: calc(100vh - 60px);
        background: #fff;
        overflow: hidden;
        position: relative;
        .guide-side{
            position: absolute;
            width: 184px;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            padding: 20px;
            box-shadow: 0 0 6px rgba(0,0,0,.1);
            border-right: 1px solid #efefef;
            box-sizing: border-box;
        }
        .guide-content{
            position: absolute;
            min-width: 716px;
            left: 184px;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            display: flex;
            justify-content: center;
            .code-show{
                width: 49%;
                overflow: hidden;
                .operate{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 40px;
                    color: #3D81FA;
                    background: #fff;
                    .code-name{margin-left: 15px; }
                    .oper-btn{
                        display: inline-block;
                        margin-right: 15px;
                        padding:0 8px;
                        border: 1px solid  #3D81FA;
                        box-sizing: border-box;
                        border-radius: 3px;
                        font-size: 12px;
                        line-height: 24px;
                    }
                }
                .CodeMirror{
                    height: 680px !important;
                }

            }
            .boundary{
                width: 2px;
                height: calc(100vh - 90px);
                box-sizing: border-box;
                cursor: col-resize;
                background-color:#efefef;
            }
            .preview-show{
                width: 49%;
                height: calc(100vh - 90px);
                overflow: hidden;
                #iframeResult{
                    border: 0;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}
   
   