.verifyPhone-page{
    width: 100%;
    height: 100vh;
    background: #EEF0F5;
    .verifyPhone{
        position: absolute;
        top: 60px;
        width: 100%;
        height: calc(100vh - 60px);
        .verifyPhone-nav{
            height: 40px;
            background: #27304A;
            .ant-breadcrumb{
                padding: 9px 0;
                font-weight: 400;
                color: #FFF;
                span{
                    color: #FFF;
                    cursor: pointer;
                }
            }
        }
        .verifyPhone-stepsWrapper{
            margin-bottom: 24px;
            height: 320px;
            border-radius: 2px;
            background-color: #fff;
            .stepVerify{
                .verify-choose{
                    h2{
                        font-size: 24px;
                        color: rgba(0, 0, 0, 0.65);
                        margin: 56px auto;
                    }
                    .verify-choose-content{
                        width: 600px;
                        height: 100px;
                        padding: 0 20px;
                        font-size: 16px;
                        color: rgba(0, 0, 0, 0.85);
                        border: 1px solid #CCC;
                        img{
                            display: inline-block;
                            height: 58px;
                            margin: 20px 50px 20px 0;
                        }
                        .choose-btn{
                            display: inline-block;
                            cursor: pointer;
                            font-size: 14px;
                            color:#3D81FA;
                            padding: 4px 16px;
                            border-radius: 2px;
                            border: 1px solid #3D81FA;

                        }
                    }

                }
            }
            .verify-check, .edit-item{
                padding-top: 60px;
                padding-left: 322px;
                span{
                    display: inline-block;
                    font-size: 14px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.85);
                }
                .check-tip{
                    img{ 
                        display: inline-block;
                        height: 16px;
                        margin-right: 10px;
                    }
                }
                .check-item{
                    margin-top: 32px;
                    .red{ color: #FF3138;}
                    .check-input{ width: 180px;}
                    .check-btn{ 
                        margin:0 12px 0 5px;
                        span{font-weight: 500; color: rgba(0, 0, 0, 0.65);}
                    }
                    .check-mes-text{ color: #3D81FA;cursor: pointer;}
                }
                .oper-btn{
                    margin-top: 32px;
                    span{color:#fff;}
                }

            }
            .stepEdit{
                padding-top: 30px;
            }
            .stepFinish{
                padding: 80px 0;
                img{
                    display: inline-block;
                    height: 72px;
                    margin-bottom: 20px;
                }
                span{
                    display: inline-block;
                    font-size: 22px;
                    font-weight: 500;
                    color: rgba(0, 0, 0, 0.65);
                }

            }
        }
    }
   
   

}
