.personalInfo{
    height: 100%;
    padding: 24px 40px;
    .per-header{
        font-size: 20px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
        line-height: 28px;
    }
    .per-tooltip{
        margin: 16px 0;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.65);
        padding: 10px 16px;
        background: rgba(61, 129, 250, 0.1);
        border: 1px solid rgba(61, 129, 250, 0.65);
    }
    .per-content{
        height: calc(100% - 95px);
        display: flex;
        justify-content: flex-start;
        overflow: auto;
        .per-content-right{
            margin-left: 100px;
        }
        .input-item{
            margin-bottom: 10px;
            p{
                font-size: 14px;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.85);
            }
            .red{
                display: inline-block;
                margin-left: 2px;
                color: red;
            }
            .ant-input{
                width: 300px;
            }
        }
        .item-headImg{
           padding: 4px;
           margin-bottom: 20px;
            img{
                display: inline-block;
                width: 100px;
                height: 100px;
            }
            
        }
        .submit-btn{
            margin: 24px 0;
        }
    }
}