.controlTree{
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 280px;
    height: 500px;
    z-index: 99;
    overflow: auto;
    box-shadow: 0px 12px 38px 16px rgba(0, 0, 0, 0.03), 0px 9px 20px 0px rgba(0, 0, 0, 0.05), 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
  .card-container{
    .card-tip{
      position: absolute;
      top: 120px;
      left: 25px;
      .loading-tips{
        font-size: 14px;
      }
    }
  }
  .card-container > .ant-tabs-card > .ant-tabs-content {
    height: 406px;
    margin-top: -16px;
    overflow: auto;
  }
  .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    padding: 14px 16px 0 16px;

  }
  .card-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff;
    background:rgba(245,245,245,1);
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color:transparent;
    padding: 0 20px;
  }
  
  .card-container > .ant-tabs-card >.ant-tabs-nav{
    border-bottom-color: rgba(245,245,245,1);

  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
  }
.ant-tree, .ant-tree ol, .ant-tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.ant-tree li .ant-tree-node-content-wrapper {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.scl {
    overflow-y: auto;
    overflow-x: hidden;
}
.ant-tree li .ant-tree-node-content-wrapper {
    color: #333;
    background:rgba(255,255,255,0.9);
}
.ant-tree li .ant-tree-node-content-wrapper:hover {
    color:#3d81fa;
}
.ant-tree li span.ant-tree-switcher, .ant-tree li span.ant-tree-iconEle {
    color:#333;
}
.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
    color:#3d81fa;
}

@media (max-width: 768px) {
  .controlTree{
      width: 260px;
      height: 380px;
  }
  .card-container > .ant-tabs-card > .ant-tabs-content {
    height: 330px;
    font-size: 12px;
  }
}