.securitySetting{
    height: 100%;
    padding: 24px 40px;
    .sec-header{
        font-size: 20px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.85);
        line-height: 28px;
    }
    .sec-content{
        .setting-item{
            padding: 24px 0;
            border-bottom: 1px solid #E9E9E9;
            span{
                display: inline-block;
                font-size: 14px;
                font-weight: 400;  
                color: rgba(0, 0, 0, 0.65);
                line-height: 24px;
            }
            .item-left{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .item-right{
                color: #3D81FA;
                padding-right: 24px;
                cursor: pointer;
            }
        }
        
    }
}