@media (min-width: 769px) {
  .product-advantage {
     height: 960px;
     padding-top: 88px;
     box-sizing: border-box;
     .title-name {
       text-align: center;
       color: #252B3A;
       font-size: 34px;
       line-height: 42px;
       padding-bottom: 56px;
       margin-bottom: 0;
     }
     .session {
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       .item {
          padding-top: 32px;
          width: 368px;
          height: 320px;
          background: #FFFFFF;
          border-radius: 8px;
          margin: 0 auto 48px auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: transform 0.4s;
          box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.06);
          &:hover{
            cursor: pointer;
            transform: translate(0,-10px);
          }
         .img {
           height: 98px;
           margin-bottom: 22px;
         }
         .title {
           font-size: 18px;
           font-weight: 500;
           color: #252B3A;
           line-height: 25px;
           margin-bottom: 16px;
         }
         .describe {
          width: 264px;
          font-size: 14px;
          font-weight: 400;
          color: #252B3A;
          line-height: 26px;
          margin: 0 auto;
          text-align: justify;
         }
       }
     }
   }
}

@media (max-width: 768px) {
  .product-advantage {
    padding-top: 30px;
    padding-bottom: 32px;
    .title-name {
      text-align: center;
      color: #252B3A;
      font-size: 26px;
      line-height: 36px;
      margin-bottom: 32px;
    }
    .session {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 16px;
      .item {
        float: left;
        padding: 16px;
        width: 48%;
        text-align: center;
        color: #252B3A;
        background: #FFF;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 0.4s;
        
        margin-bottom: 16px;
        .img {
          height: 98px;
          margin-bottom: 5px;
        }
        .title {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 14px;
        }
        .describe {
          font-size: 14px;
          line-height: 20px;
          max-width: 240px;
          margin: 0 auto;
          text-align: justify;
          margin-bottom: 10px;
        }
      }
    }
  }
}