@media (min-width: 769px) {
  .title-banner {
    height: 630px;
    position: relative;
    .back-img{
      position: absolute;
      width: 1200px;
      height: 100%;
    }
    .left-session {
      float: left;
      padding-top: 150px;
      width: 660px;
      .title {
        color: #FFF;
        text-align: left;
        font-size: 56px;
        margin-bottom: 0;
        line-height: 78px;
        font-weight: 500;
      }
      ul.describe {
        color: #FFF;
        width: 660px;
        text-align: left;
        font-size: 26px;
        line-height: 40px;
        font-weight: 400;
        margin-top: 18px ;
        margin-bottom: 36px;
      }
      .link-header {
        .ant-btn-round{
          font-size: 18px;
        }
        .link1 {
          height: 46px;
          width: 128px;
          margin-right: 24px;
        }
        .link2 {
          height: 46px;
          width: 128px;
          color: #fff;
          border-color: #fff;
          background-color: transparent;
          &:hover {
            color: #3D81FA;
            border-color: #3D81FA;
          }
        }
        .link1,.link2 {
          position: relative;
          a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }
      .link-header-mobile {
        display: none;
      }
    }
    .right-session {
      display: none;
      // position: absolute;
      // top: 50%;
      // right: 0;
      // transform: translateY(-50%);
      // width: 448px;
      // height: 476px;
      // img {
      //   width: 100%;
      // }
    }
  }
}

@media (max-width: 768px) {
  .title-banner {
    position: relative;
    .left-session {
      padding: 0 24px 76px 24px;
      width: 100%;
      color: #FFF;
      .title {
        color: #FFF;
        text-align: left;
        font-size: 32px;
        font-weight: 600;
        line-height: 47px;
      }
      .describe {
        text-align: left;
        font-size: 16px;
        line-height: 28px;
        margin-top: 20px;
        margin-bottom: 24px;
      }
      .link-header {
        .ant-btn-round{
          font-size: 14px;
        }
        .link1 {
          height: 40px;
          width: 120px;
        }
        .link2 {
          height: 40px;
          width: 120px;
          margin-left: 24px;
          color: #fff;
          border-color: #fff;
          background-color: transparent;
          &:hover {
            color: #fff;
            border-color: #fff;
            background-color: transparent;
          }
        }
        .link1,.link2 {
          position: relative;
          a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }
    }
    .right-session {
      display: block;
      width: 100%;
      padding: 24px;
      img {
        width: 100%;
      }
    }
  }
}