.BIMPlaform-content{
    position: absolute;
    width: 100%;
    height:calc(100vh - 60px);
    top: 60px;
    .bim-wrapper{ 
      width: 100%;
      height: 100%;
    }
    .drawerWidth{
      width: calc(100% - 300px);
    }
    .fullWidth{
      width: 100%;
    }
    .drawer-wrapper{
      width: 300px;
      .bimSenceWrapper{
        .ant-drawer{
          .ant-drawer-content {
              padding-top: 60px;
          }
        }
        .bimSenceContent{
            //选择集
            .sectionSetList{
              .sectionSetContent{
                .section-item{
                  color: rgba(0, 0, 0, 0.65);
                  padding: 10px 16px;
                  border-radius: 4px;
                  margin-bottom: 15px;
                  i{
                    cursor: pointer;
                    font-size: 20px;
                  }
                  &:hover{
                    background: rgba(61, 129, 250, 0.1);
                    i{
                      color: #3d81fa;
                    }
                  }
                }
              }

            }
            //批注
            .commentsList{
              .commentsContent{
                .comment-item{
                  padding: 10px 16px;
                  border: 1px solid #efefef;
                  border-radius: 4px;
                  margin-bottom: 15px;
                  cursor: pointer;
                  .item-left{
                    display: inline-block;
                    width: 100px;
                    height: 60px;
                    // border: 1px solid #333;
                  }
                  .item-right{
                    margin-left: 15px;
                    span{
                      display: inline-block;
                      font-size: 14px;
                    }
                    .item-name{
                      color: #333;
                      margin-bottom: 20px;
                      max-width: 120px;
                    }
                    .item-date{
                      color: #999;
                      font-size: 12px;
                    }
                  }
                }
              }
            }
            .positionLinkList{
              .positionLinkContent{
                .section-item{
                  padding: 10px 16px;
                  border-radius: 4px;
                  margin-bottom: 15px;
                  i{
                    cursor: pointer;
                    font-size: 20px;
                  }
                  &:hover{
                    background: rgba(61, 129, 250, 0.1);
                    i{
                      color: #3d81fa;
                    }
                  }
                }
              }

            }
        }
        .bottomOperate{
          position: absolute;
          bottom: 0;
          width: 100%;
          border-top: 1px solid #e8e8e8;
          padding: 10px 16px;
          text-align: center;
          left: 0;
          background: #fff;
        }

      }
    }
    .drawTool-wrapper{
      .draw-tool-layout{
        position: absolute;
        left: calc(50% - 300px);
        bottom: 15px;
        transform: translate(calc(-50% + 150px), 0);
        z-index: 999;
        padding: 12px 24px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
        .draw-tool-type{
          .tool-item{
            display: inline-block;
            padding: 0 8px;
            margin: 4px 0;
            i{
              cursor: pointer;
              color: #333;
              font-size: 30px;
            }
          }
          .tool-item:nth-last-child(2){
            border-left: 1px solid #e8e8e8 ;
          }
          .tool-item:hover{
            i{
              color: #3d81fa;
            }
          }
          .selectedType{
            i{
              color: #3d81fa;
            }
          }
        }
        .draw-tool-setting{
          .setting-item{
            padding: 10px 5px;
          }
        }
        
      }
    } 
    .unSelectedItem{
      background: #efefef;
    }
    .selectedItem{
      background: rgba(61, 129, 250, 0.1);
      i{
        color: #3d81fa;
      }
    } 
}
.wrapperLayer__25Osd{
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .backgroundLayer__L59ju{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
    background-color: #ffffff;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    will-change: opacity;
    -webkit-tap-highlight-color: transparent;
  }
  .controls__3BU3E{
    box-sizing: border-box;
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    opacity: 0;
    display: -webkit-box;
    display: flex;
    z-index: 1000;
    border-radius: 5rem;
    transition: transform 350ms cubic-bezier(0.6, 0, 0.1, 1), opacity 350ms, -webkit-transform 350ms cubic-bezier(0.6, 0, 0.1, 1);
    .rotateLeft__1KOxL{
      margin-left: 0.4rem;
    }
    .rotateLeft__1KOxL,.rotateRight__3kYbB,.zoom__15F8y,.close__wP1v9  {
      z-index: 1000;
      box-sizing: border-box;
      cursor: pointer;
      margin: 0.4em 0;
      width: 1.75rem;
      height: 1.75rem;
      transition: transform 175ms cubic-bezier(0.6, 0, 0.1, 1), opacity 350ms cubic-bezier(0.6, 0, 0.1, 1), -webkit-transform 175ms cubic-bezier(0.6, 0, 0.1, 1);
      svg {
        display: inline-block;
        width: 1.75rem;
        height: 1.75rem;
      }
    }
    .rotateLeft__1KOxL:first-of-type {
      margin-left: 0.4rem;
    }
    .close__wP1v9:last-of-type {
      margin-right: 0.4rem;
    }
  }
  .controls__3BU3E.show__1tLY6{
    opacity: 0.8;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  } 
  .imageLayer__207N-{
    border-style: none;
    user-select: none;
    transition: transform 350ms cubic-bezier(0.6, 0, 0.1, 1), opacity 350ms cubic-bezier(0.6, 0, 0.1, 1), clip-path 350ms cubic-bezier(0.6, 0, 0.1, 1), -webkit-transform 350ms cubic-bezier(0.6, 0, 0.1, 1), -webkit-clip-path 350ms cubic-bezier(0.6, 0, 0.1, 1);
    position: absolute;
    left: 50%;
    top: 50%;
    will-change: transform, top, opacity, clip-path;
  }
}
