.empty{
    padding: 16px;
    .empty-content{
        margin: 32px auto;
        .empty-img{
            text-align: center;
            margin-bottom: 10px;
            img{
                display: inline-block;
            }
        }
        .empty-text{
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: rgba(0, 0, 0, 0.25);
        }
    }

}